/*
  =======
  Effects
  =======

  Style-first helpers to apply theme-specific effects
*/

.highlight-avatar {
  @apply relative;
}

.highlight-avatar img {
  @apply relative z-20;
  @apply max-w-full;
  @apply rounded-full;
}

.highlight-avatar:before,
.highlight-avatar:after {
  @apply absolute;
  @apply block w-full h-full;
  @apply pointer-events-none;
  @apply rounded-full;
  content: "";
}

.highlight-avatar:before {
  @apply z-10;
  top: 8px;
  left: 10px;
  @apply bg-sunset;
}

.highlight-avatar:after {
  @apply z-30;
  top: 6px;
  left: -8px;
  @apply border-4;
  @apply border-carlo;
}

.highlight-text {
  @apply relative;
  @apply inline-block;
  @apply text-white;
}

.highlight-text span {
  @apply relative;
  z-index: 1;
  padding-left: .5ch;
  padding-right: .5ch;
}

.highlight-text:before,
.highlight-text:after {
  @apply absolute;
  z-index: 0;

  @apply block;
  width: 102%;
  height: 102%;
  content: "";
}

.highlight-text:before {
  top: -.3em;
  left: -.4em;
  transform: rotate(-2deg);

  @apply bg-sunset;
  @apply opacity-25;
}

.highlight-text:after {
  top: -.05em;
  left: -.08em;
  transform: rotate(1.5deg);

  @apply bg-sunset;
  @apply opacity-75;
}

.highlight-text-blue:before,
.highlight-text-blue:after {
  @apply bg-blue;
}

.highlight-text-java:before {
  @apply bg-java;
}

.highlight-text-java:after {
  @apply bg-java;
}

.highlight-box-dots {
  @apply relative;
  z-index: 0;
}

.highlight-box-dots:before {
  @apply absolute;
  top: calc(50% - 3rem);
  left: -1rem;
  z-index: -1;

  @apply block;
  width: 98%;
  height: 70%;

  background: url(/img/dots.svg);
  content: "";
}

.highlight-bg-dots {
  background-image: url(/img/dots.svg);
}

.highlight-bg-hero {
  padding-bottom: 80px;
  background-image: url(/img/dots-alt.svg);
  @apply bg-left-bottom bg-no-repeat;
}

.highight-text-t-dots {
  @apply relative;
}

.highlight-text-t-dots:before {
  @apply relative;
  @apply block;
  @apply mx-auto mb-8;
  width: 120px;
  height: 46px;
  background: url(/img/dots-alt.svg);
  @apply bg-center bg-no-repeat bg-contain;
  content: "";
}

.highlight-blockquote {
  @apply relative;
  width: 120%;
}

.highlight-blockquote:before {
  @apply absolute;
  top: .5rem;
  left: 1.5rem;
  @apply block;
  font-size: 8rem;
  @apply text-blue;
  content: open-quote;
}

.highlight-pattern-blue {
  @apply bg-blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2319679D' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  @apply bg-repeat;
}

.highlight-pattern-sand {
  @apply bg-sand;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23b9e3c6' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}
