.bar {
    height: 8px;
    margin-bottom: 22px;
  }
  
  .bar-gold {
    background-color: #27AAE2;
    background-image: -webkit-linear-gradient(left, #27AAE2, #A9DAFF);
    background-image: linear-gradient(to right, #27AAE2, #A9DAFF);
  }
  
  .bar-purple {
    background-color: #F06E38;
    background-image: -webkit-linear-gradient(left, #F06E38, #F7AC70);
    background-image: linear-gradient(to right, #F06E38, #F7AC70);
  }
  
  #conference-agenda {
    text-align: center;
  }
  #conference-agenda h2 {
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 40px;
    margin-top: 21px;
  }
  @media (min-width: 630px) {
    #conference-agenda h2 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 32px;
      margin-top: 42px;
    }
  }
  
  #daily-agenda {
    font-family: "Poppins", sans-serif;
  }
  #daily-agenda .date {
    margin-bottom: 34px;
  }
  #daily-agenda .date h2 {
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 13px;
  }
  #daily-agenda .date h2 br {
    display: none;
  }
  @media (min-width: 630px) and (max-width: 960px) {
    #daily-agenda .date h2 br {
      display: block;
    }
  }
  #daily-agenda .date p {
    -webkit-font-smoothing: antialiased;
    color: #666;
    margin-bottom: 8px;
  }
  #daily-agenda .date ul {
    margin: 0 0 18px;
    padding: 0 0 0 18px;
  }
  #daily-agenda .date ul.dash {
    list-style-type: none;
  }
  #daily-agenda .date ul.dash > li:before {
    content: "-";
    position: absolute;
    margin-left: -1em;
  }
  #daily-agenda .date ul li {
    -webkit-font-smoothing: antialiased;
    color: #666;
    margin-bottom: 6px;
  }
  #daily-agenda .date ul li:last-child {
    margin-bottom: 0;
  }
  #daily-agenda .date ul li.no-bullet {
    list-style-type: none;
  }
  #daily-agenda .horz-rule {
    margin-bottom: 2px;
    margin-top: 12px;
  }
  @media (min-width: 630px) {
    #daily-agenda .horz-rule {
      margin-bottom: 8px;
      margin-top: 32px;
    }
  }

  .lgx-speakers {
	background: #fff;
}
.lgx-speakers .speakers-btn-area {
	text-align: center;
}
.lgx-speakers .lgx-single-speaker {
	background: #fff;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 4.2rem;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.lgx-speakers .lgx-single-speaker figure {
	position: relative;
	/* -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); */
	border-radius: 4px;
	text-align: center;
}

.lgx-speakers .lgx-single-speaker figure a.profile-img {
	border-radius: 4px;
}

.lgx-speakers .lgx-single-speaker figure a.profile-img img {
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

.lgx-speakers .lgx-single-speaker figure figcaption {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	border-radius: 0 0 4px 4px;
	opacity: 0;
	padding: .8rem 0;
	-webkit-transition: all 0.3s ease-in-out 0.3s;
	-moz-transition: all 0.3s ease-in-out 0.3s;
	-o-transition: all 0.3s ease-in-out 0.3s;
	transition: all 0.3s ease-in-out 0.3s;
}

.lgx-speakers .lgx-single-speaker figure figcaption a {
	font-size: 26px;
	line-height: 39px;
	font-size: 2.6rem;
	line-height: 3.9000000000000004rem;
	color: #29aae2;
	padding: 0 .3rem;
}

.lgx-speakers .lgx-single-speaker .speaker-info {
	text-align: center;
}

.lgx-speakers .lgx-single-speaker .speaker-info .speaker-title {
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: .08rem;
}

.lgx-speakers .lgx-single-speaker .speaker-info .speaker-title a {
	font-size: inherit;
}

.lgx-speakers .lgx-single-speaker .speaker-info .speaker-subtitle {
	font-size: 11px;
	line-height: 13px;
	font-size: 1.1rem;
	line-height: 1.3rem;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	color: #29aae2;
}

.lgx-speakers .lgx-single-speaker:hover {
	background: #29aae2;
}

.lgx-speakers .lgx-single-speaker:hover figure figcaption {
	opacity: 1;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-transform-origin: center;
	transform-origin: center;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

.lgx-speakers .lgx-single-speaker:hover figure figcaption a i {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-transform-origin: center;
	transform-origin: center;
	animation-duration: 500ms;
	animation-timing-function: linear;
}

.lgx-speakers .lgx-single-speaker:hover .speaker-info .speaker-title a {
	color: #fff;
}

.lgx-speakers .lgx-single-speaker:hover .speaker-info .speaker-subtitle {
	color: #fff;
}

.lgx-speakers .lgx-single-speaker-sm {
	padding: 8px;
	min-height: 285px;
	height: 285px;
}

.lgx-speakers .lgx-single-speaker-sm figure figcaption a {
	font-size: 18px;
	line-height: 27px;
	font-size: 1.8rem;
	line-height: 2.7rem;
}

.lgx-speakers .lgx-single-speaker-sm .speaker-info .speaker-title {
	font-size: 18px;
	line-height: 20px;
	font-size: 1rem;
	line-height: 1.3rem;
}
.slidein:nth-child(even) {
  background: #3398ff !important;
}

.slidein:nth-child(odd) {
  background: #007eff !important;
}

.button {
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 46px 10px 0 0;
  display: block;
  width: 100%;
  height: 50px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  overflow: hidden;
  margin: auto;
}
.button .ten {
  font-size: 7px;
  line-height: 52px;
}
.button:hover .slidein {
  left: 0%;
}
.button:hover .two {
  left: 0%;
  transition-delay: 1.5s;
}
.button:hover .three {
  left: 0%;
  transition-delay: 3s;
}
.button:hover .four {
  left: 0%;
  transition-delay: 4.5s;
}
.button:hover .five {
  left: 0%;
  transition-delay: 6s;
}
.button:hover .six {
  left: 0%;
  transition-delay: 7.5s;
}
.button:hover .seven {
  left: 0%;
  transition-delay: 9s;
}
.button:hover .eight {
  left: 0%;
  transition-delay: 10.5s;
}
.button:hover .nine {
  left: 0%;
  transition-delay: 13s;
}
.button:hover .ten {
  left: 0%;
  transition-delay: 16s;
}
.button .slidein {
  background: #3398ff;
  left: -100%;
  z-index: 2;
}
.button a {
  text-transform: uppercase;
  transition: left 300ms;
  letter-spacing: 1px;
  background: #007eff;
  position: absolute;
  font-weight: bold;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  line-height: 50px;
}