{{ define "main" }}
<main class="my-20">
  <div class="container px-6 mx-auto">
    <div class="topic-grid lg:grid lg:grid-cols-2 lg:gap-12">
      <div>
        <header>
          <span class="mb-1 text-base font-bold text-gray-500">Topics</span>
          <h1 class="max-w-4xl mb-4 text-5xl font-semibold leading-tight tracking-tight">{{.Title}}</h1>
        </header>

        <div class="hidden lg:block">
          {{ partial "topic-content.html" . }}
        </div>
      </div>

      <div>
        <div class="flex flex-col gap-4 p-4 overflow-y-scroll border max-h-[40rem] rounded shadow-lg topic-sessions topic-grid-side">
          <h2 class="text-xl font-bold text-gray-600">Must watch sessions</h2>
          {{- with .Params.featured_sessions -}}
          {{ range .}}
              {{ with site.GetPage (print "/sessions/" . ) }}
                {{ partial "session-mini-card.html" .}}
              {{ end }}
          {{ end }}
          {{- end -}}
        </div>

        <div class="mt-12 lg:hidden">
          {{ partial "topic-content.html" . }}
        </div>

        <section class="topic-tags topic-grid-side">
          <h2 class="mt-12 mb-2 text-xl font-bold text-gray-600">Related Tags</h2>
          {{ partial "tag-sidebar-list.html" .}}
        </section>

        <section class="topic-speakers topic-grid-side">
          <h2 class="mt-12 mb-8 text-xl font-bold text-gray-600">{{.Title}} Speakers</h2>
          {{ if .Params.speakers }}
          <ul class="flex flex-col gap-8">
            {{ range $speaker := .Params.speakers }}
              {{ with site.GetPage (print "/speakers/" $speaker) }}
                {{ partial "speaker-mini-card.html" . }}
              {{end}}
            {{ end }}
          </ul>
          {{ end }}
        </section>
      </div>
    </div>
  </div>
</main>

{{ end }}

{{ define "scripts" }}
{{ end }}
