<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="antialiased">
{{ partial "navigation.html" . }}

<main>
  <div class="mb-20 highlight-pattern-dotgrid">
    <header class="container px-6 py-12 mx-auto">
      <div class="flex flex-wrap mb-6">
        <span
          class="flex items-center justify-center flex-shrink-0 w-20 h-20 mr-4 rounded-full bg-salmon" aria-hidden="true">
          <svg
            class="inline-block w-12 h-12 fill-current"
            aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-search"></use>
          </svg>
        </span>
        <h1 class="my-2 text-5xl font-bold">{{ .Title }}</h1>
      </div>
      <div class="max-w-3xl text-xl content" id="searchDescription">{{.Content}}</div>
    </header>
  </div>
  <div class="container mx-auto search-by">
    <span class="search-by-label">Search by</span>
    <a href="https://www.algolia.com/?utm_source=hn_search&amp;amp;utm_medium=link&amp;amp;utm_term=logo&amp;amp;utm_campaign=hn_algolia" title="Realtime Search Engine" target="_blank"><img src="//d3nb9u6x572n0.cloudfront.net/packs/media/images/logo-algolia-blue-35c461b6.svg" alt="Algolia Logo" width="60"></a>
  </div>
  <div class="container mx-auto text-center">

    <div class="mx-auto my-8" id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>

      <h2 class="text-sm font-medium">Just a moment...</h2>
    </div>
    <div class="grid grid-cols-1 gap-6 px-6 pb-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-8" id="searchResults">
    </div>

  </div>
</main>

{{ partial "footer.html" .}}
{{ partial "scripts.html" .}}

{{ block "scripts". }}{{ end }}
<script>
function getQueryVariable(variable)
{
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if(pair[0] == variable){return pair[1];}
  }
  return(false);
}

const query = getQueryVariable('search')
const loader = document.getElementById('loader');
const searchResults = document.getElementById('searchResults');
const searchDescription = document.getElementById('searchDescription');
axios.post('/.netlify/functions/algolia', {
  search: query
})
  .then(function (response) {
    loader.hidden = true;
    searchResults.innerHTML = response.data;
    searchDescription.innerHTML = 'Search results for: "' + query + '"';
  });
</script>
</body>
</html>
