{{ define "main" }}
<main class="mb-20">
  <header class="container max-w-3xl px-6 py-12 mx-auto">
    <h1 id="content-title" class="my-2 text-5xl font-bold">{{.Title}}</h1>
  </header>
  <div class="container max-w-3xl px-6 mx-auto">
    <div id="content-content" class="content">
{{ .Content }}
    </div>
  </div>
</main>
{{ end }}

{{ define "scripts" }}
<script>
function handleSignupConfirm(token) {
  const auth = new GoTrue({
    APIUrl: 'https://cfe.dev/.netlify/identity',
    audience: '',
    setCookie: false,
  });
  auth
  .confirm(token)
  .then(function(response) {
    document.getElementById('content-title').innerHTML = 'You\'re confirmed!';
    document.getElementById('content-content').innerHTML = 'You can <a href="/login/">log in</a>.';
  })
  .catch(function(e) {
    document.getElementById('content-title').innerHTML = 'There was a problem confirming your account.';
    document.getElementById('content-content').innerHTML = 'Either the account was not found or the token has expired. Please try <a href="/login/">logging in</a> or <a href="/recover/">recovering your password</a>.';
  });
}

const hash = (document.location.hash || "").replace(/^#\/?/, "");
if (hash) {
  const [key, value] = hash.split("=");
  if (key === 'confirmation_token')
    handleSignupConfirm(value);
}
</script>
{{ end }}
