<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="style-videos">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <!-- Bg Overlay -->
  <div class="content-overlay"></div>


{{ partial "left-nav.html" . }}

  <main class="main oh" id="main">

    {{ partial "top-bar.html" . }}        

		{{ partial "navigation.html" . }}
		
<!-- Breadcrumbs -->
<div class="container">
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="/index.html" class="breadcrumbs__url">Home</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item--current">
				{{ .Title }}
			</li>
		</ul>
	</div>

	<div class="main-container container" id="main-container">
		<!-- Post Content -->
		<div class="blog__content mb-72">
			
			<!-- Entry Header -->
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="single-post__entry-header entry__header mb-56 text-center">
						<h1 class="single-post__entry-title">
							{{ .Title }}
						</h1>
					</div>
				</div>          
			</div> <!-- end entry header -->

			<div class="row justify-content-center">
				<div class="col-lg-8">
					<!-- standard post -->
					<article class="entry mb-0">
						<div class="entry__article-wrap">

							<div class="entry__article">
								{{ .Content }}
							</div> <!-- end entry article -->
						</div> <!-- end entry article wrap -->
						

						<!-- Newsletter Wide -->
						<div class="newsletter-wide">
							<div class="widget widget_mc4wp_form_widget">
								<div class="newsletter-wide__container">
									<div class="newsletter-wide__text-holder">
										<p class="newsletter-wide__text">
											<i class="ui-email newsletter__icon"></i>
											Subscribe for updates on upcoming events
										</p>
									</div>
									<div class="newsletter-wide__form">
										<form class="mc4wp-form" method="post">
											<div class="mc4wp-form-fields">
												<div class="form-group">
													<input type="email" name="EMAIL" placeholder="Your email" required="">
												</div>
												<div class="form-group">
													<input type="submit" class="btn btn-lg btn-color" value="Sign Up">
												</div>
											</div>
										</form>
									</div> 
								</div>         
							</div>
						</div> <!-- end newsletter wide -->            

					</article> <!-- end standard post -->
				</div>
			</div>

		</div> <!-- end post content -->
	</div> <!-- end main container -->					
		
		{{ partial "footer.html" .}}

    </main> <!-- end main-wrapper -->

{{ partial "scripts.html" .}}

</body>
</html>