<div class="promo">
    {{ range $index, $element := where .Data.Pages.ByDate "Section" "events" }}
        {{ if ge .Date.Unix now.Unix }}
    <div class="slide">
        <div class="container">
            <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}/{{ .Params.Homepage_banner }}" alt="{{.Params.Title}}"></a>
            <a href="{{ .Permalink }}" class="btn btn-primary more">READ MORE</a>
        </div>
    </div>
        {{ end }}
    {{ end }}
    {{ range where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.carousel" true }}
    <div class="slide">
        <div class="container">
            <div style="max-width: 818px;position:relative;margin:auto;">
            <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}/{{ .Params.Homepage_banner }}" alt="{{.Params.Title}}"></a>
                <a class="github-fork-ribbon" href="https://url.to-your.repo" data-ribbon="Session Recording" title="Session Recording">Session Recording</a>
            </div>
            <a href="{{ .Permalink }}" class="btn btn-primary more">READ MORE</a>
        </div>
    </div>
    {{ end }}
    <div class="switcher">
    {{ range $index, $element := where .Data.Pages.ByDate "Section" "events" }}
        {{ if ge .Date.Unix now.Unix }}
        <a href="#">
            <div class="circle-wrapper">
                <div class="circle left"></div>
                <div class="circle right"></div>
            </div>
        </a>
        {{ end }}
    {{ end }}
    {{ range where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.carousel" true }}
        {{ if eq .Params.Carousel true }}
    <a href="#">
        <div class="circle-wrapper">
            <div class="circle left"></div>
            <div class="circle right"></div>
        </div>
    </a>
        {{ end }}
    {{ end }}
    </div>
    <a href="#" class="btn-prev"><i class="fa fa-angle-left"></i></a>
    <a href="#" class="btn-next"><i class="fa fa-angle-right"></i></a>
</div>