{{ partial "reminder.html" .}}

<footer class="bg-blue">
  <div
    class="container flex flex-col gap-12 px-6 py-16 mx-auto">

    <div class="flex justify-center">
      <img src="/img/logo-white.svg" alt="CFE.dev" class="h-20"/>
    </div>

    <nav>
      <ul class="flex flex-col gap-10 md:grid md:grid-cols-2 lg:grid-cols-5">
        <li>
          <h2 class="mb-3 text-lg font-bold text-sky">Upcoming Events</h2>
          <ul class="space-y-3">
            {{ $upcoming := where (where .Site.RegularPages.Reverse "Section" "in" (slice "events" "talkshows")) ".Date" "ge" now }}
            {{ range $upcoming }}
              <li>
                <a
                  href="{{ .RelPermalink }}"
                  class="flex flex-col gap-1 text-white anim">
                  <span class="font-medium">{{ .Title }}</span>
                  <time class="text-sm opacity-75">
                    {{ dateFormat "Jan 2, 2006 3:04PM MST" .Date.Local }}
                  </time>
                </a>
              </li>
            {{ end }}
            <li>
              <a href="/archive" class="text-white anim">Browse Past Events</a>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="mb-3 text-lg font-bold text-sky">Recordings</h2>
          <ul class="space-y-3">
            <li>
              <a
                href="/sessions/"
                class="text-white anim">All Recordings</a>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="mb-3 text-lg font-bold text-sky">Talk Shows</h2>
          {{ $talkshows := where .Site.RegularPages.ByWeight "Section" "talkshow"}}
          {{ if len $talkshows }}
          <ul class="space-y-3">
            {{ range $talkshows }}
              <li>
                <a
                  href="{{ .RelPermalink }}"
                  class="text-white anim">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>

        <li>
          <h2 class="mb-3 text-lg font-bold text-sky">Speakers</h2>
          <ul class="space-y-3">
            <li>
              <a
              href="/speakers/"
              class="text-white anim">All Speakers</a>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="mb-3 text-lg font-bold text-sky">CFE.dev</h2>
          <ul class="space-y-3">
            <li>
              <a class="text-white anim" href="/conduct/">Code of Conduct</a>
            </li>
            <li>
              <a class="text-white anim" href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/about" class="text-white anim">Who We Are</a>
            </li>
            <li>
              <a class="text-white anim" href="/contact/">Contact</a>
            </li>
            <li>
              <a class="text-white anim" href="{{ .Site.Params.sponsorship }}">Sponsor CFE.dev</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div>
      <div class="flex flex-wrap justify-between gap-8">
        <div class="max-w-[500px]">
          <form
            id="subscribeForm"
            class="flex flex-wrap items-stretch md:justify-start"
            method="post">
            <input type="hidden" name="listName" value="cfe-newsletter" />
            <label for="email" class="w-full text-lg label text-sky">Subscribe to our mailing list</label>
            <p class="w-full mb-3 text-gray-300">
              Stay up to date with the latest meetups and sessions.
            </p>
            <div class="flex flex-wrap flex-1 gap-2">
              <input
                type="email"
                id="email"
                placeholder="you@domain.com"
                autocomplete="off"
                class="flex-1 field"
              />
              <button id="foo" name="subscribe" type="submit" class="button border-sky">
                Subscribe
              </button>
            </div>
            <div id="subscribe_message" style="color: red"></div>
          </form>
        </div>

        <nav class="self-end">
          <h3 class="mb-3 text-lg font-medium text-sky">Connect with us</h3>
          <ul class="flex flex-wrap gap-6">
            <li>
              <a
                rel="me"
                class="inline-block text-white anim hover:text-mastodon"
                href="{{.Site.Params.Mastodon}}"
                title="Mastodon"
                aria-label="Mastodon"
              >
                <svg class="w-10 h-10 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#mastodon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="inline-block text-white anim hover:text-youtube"
                href="{{.Site.Params.youtube}}"
                title="youtube"
                aria-label="youtube"
              >
                <svg class="w-10 h-10 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="inline-block text-white anim hover:text-rss"
                href="/rss.xml"
                title="RSS"
                aria-label="RSS"
              >
                <svg class="w-10 h-10 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#rss"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <small class="block w-full text-white">&copy; {{now.Year}} {{.Site.Title}}</small>
  </div>
</footer>
