<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ if .IsPage }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ if and (.IsPage) (ne .Page.Description "")}}{{ .Page.Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />

	<link media="all" rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
	<link media="all" rel="stylesheet" href="{{ .Site.BaseURL }}css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ribbon.css" />
{{ if eq .Page.Type "events" }}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@fresheventsfl" />
	<meta property="og:url" content="{{ .Page.Permalink }}" />
	<meta property="og:title" content="{{ .Page.Title }}" />
	<meta property="og:description" content="{{ .Page.Params.Short_desc }}" />
	<meta property="og:image" content="{{ .Page.Params.Homepage_banner }}" />
{{ end }}
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ribbon.ie.css" />
	<![endif]-->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-103561809-1', 'auto');
	ga('send', 'pageview');

	</script>
</head>