<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ if .IsPage }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ if and (.IsPage) (ne .Page.Description "")}}{{ .Page.Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/font-icons.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/colors/violet.css" />
  {{ if ne .Params.styles nil }}
  <link rel="stylesheet" href="/css/{{.Params.styles}}" />
  {{ end }}

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/img/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="/img/favicon.ico">
	
	{{ if eq .Page.Type "events" }}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@fresheventsfl" />
	<meta property="og:url" content="{{ .Page.Permalink }}" />
	<meta property="og:title" content="{{ .Page.Title }}" />
	<meta property="og:description" content="{{ .Page.Params.Short_desc }}" />
	<meta property="og:image" content="{{ .Site.BaseURL }}img/banners/{{ .Page.Params.Homepage_banner }}" />
{{ end }}

  <!-- Lazyload (must be placed in head in order to work) -->
	<script src="/js/lazysizes.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-103561809-1', 'auto');
		ga('send', 'pageview');
	
	</script>
	<script src="https://kit.fontawesome.com/74ff27af0b.js"></script>
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '402803547299150'); 
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" 
		src="https://www.facebook.com/tr?id=402803547299150&ev=PageView
		&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->
</head>