{{- $src := resources.Get (print "img/banners/" .Params.homepage_banner) -}}
{{- $src := $src.Resize "608x" }}
<article class="entry thumb thumb--size-4">
  <div class="entry__img-holder thumb__img-holder" style="background-image: url('{{ $src.RelPermalink }}');">
    <div class="bottom-gradient"></div>
    <div class="thumb-text-holder thumb-text-holder--3">
      {{ range $category := first 1 .Params.Categories }}
      <a href="{{ "categories" | absURL }}/{{ $category | urlize }}" class="entry__meta-category entry__meta-category--label entry__meta-category--violet">{{$category}}</a>
      {{ end }}
      {{ if ge .Date.Unix now.Unix }}
      <ul class="entry__meta">
        <li class="entry__meta-date">
            {{ dateFormat "1/02 3:04" .Params.Date}} - {{ dateFormat "3:04 PM EST" .Params.End_date}}
        </li>
      </ul>
      {{ end }}
      <h2 class="thumb-entry-title">
        <a href="{{ .RelPermalink }}">{{.Params.Title}}</a>
      </h2>
    </div>
    <a href="{{ .RelPermalink }}" class="thumb-url"></a>
  </div>
</article>
