  <!-- Sidenav -->    
  <header class="sidenav" id="sidenav">

  <!-- close -->
  <div class="sidenav__close">
    <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
      <i class="ui-close sidenav__close-icon"></i>
    </button>
  </div>
  <!-- Nav -->
  <nav class="sidenav__menu-container">
    <ul class="sidenav__menu" role="menubar">
      <li>
        <a href="/index.html" class="sidenav__menu-url">Home</a>
      </li>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $parentNavURL := .URL }}
        <li>
          <a href="{{ .URL }}" class="sidenav__menu-url">{{ .Name }}</a>
          {{ if .HasChildren }}
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            {{ range first 10 .Children }}
            <li><a href="{{ .URL }}" class="sidenav__menu-url">{{ .Name }}</a></li>
            {{ end }}
            {{ if gt .Children 10 }}
            <li><a href="{{ $parentNavURL }}" class="sidenav__menu-url">More</a></li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      {{ end }}    

      <!-- Categories -->
      {{ range $key, $value := .Site.Taxonomies.categories}}
      <li>
        <a href="" class="sidenav__menu-url">{{ $key | humanize }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
  <div class="socials sidenav__socials"> 
    <a class="social social-twitter" href="https://twitter.com/fresheventsfl" target="_blank" aria-label="twitter">
      <i class="ui-twitter"></i>
    </a>
    <a class="social social-youtube" href="https://www.youtube.com/channel/UC8mBtfX_7KNLP3LMQZJA8yg" target="_blank" aria-label="youtube">
      <i class="ui-youtube"></i>
    </a>
    <a class="social social-instagram" href="https://www.instagram.com/certifiedfreshevents/" target="_blank" aria-label="instagram">
      <i class="ui-instagram"></i>
    </a>
  </div>
</header> <!-- end sidenav -->