<h2
      class="max-w-2xl mx-auto mb-20 text-3xl font-semibold text-center text-gray-700">Made possible thanks to <strong>our sponsors</strong>.</h2>

<ul class="logo-list">
  <li>
    <a href="https://www.strattic.com/"
      ><img src="/img/sponsors/strattic.png" loading="lazy" alt="Strattic"
    /></a>
  </li>
  <li>
    <a href="https://netlify.com/"><img src="/img/sponsors/netlify.png" loading="lazy" alt="Netlify" /></a>
  </li>
  <li>
    <a href="https://launchdarkly.com/"><img src="/img/sponsors/LaunchDarkly.png" loading="lazy" alt="LaunchDarkly" /></a>
  </li>
  </li>
</ul>
