<ul class="logo-list">
  <li>
    <img
      src="/img/tech-logos/aws.svg"
      loading="lazy"
      alt="AWS">
  </li>
  <li>
    <img
      src="/img/tech-logos/vue.svg"
      loading="lazy"
      alt="Vue">
  </li>
  <li>
    <img
      src="/img/tech-logos/jamstack.svg"
      loading="lazy"
      alt="JAMSTACK">
  </li>
  <li>
    <img
      src="/img/tech-logos/graphql.svg"
      loading="lazy"
      alt="GraphQL">
  </li>
  <li>
    <img
      src="/img/tech-logos/go.svg"
      loading="lazy"
      alt="Go Lang">
  </li>
  <li>
    <img
      src="/img/tech-logos/react.svg"
      loading="lazy"
      alt="React">
  </li>
    <li>
    <img
      src="/img/tech-logos/typescript.svg"
      loading="lazy"
      alt="TypeScript">
  </li>
</ul>
