<a href="#" class="menu-opener"><span></span></a>
<div class="menu-slide">
    <!--<select class="location-select">
        <option>EUROPE</option>
        <option>Berlin</option>
        <option>Moscow</option>
        <option>New York</option>
        <option>Paris</option>
    </select>-->
    <!--<div class="search-block">
        <a href="#" class="btn search-opener">
            <i class="fa fa-search"></i>
        </a>
        <form action="#" class="search-slide">
            <input type="search" placeholder="Fests in Ber|" class="form-control">
            <button class="btn"><i class="fa fa-search"></i></button>
        </form>
    </div>-->
    <!--<div class="language">
        <label>
            <input type="radio" name="lang" checked="checked">
            <span class="btn">EN</span>
        </label>
        <label>
            <input type="radio" name="lang">
            <span class="btn">de</span>
        </label>
        <label>
            <input type="radio" name="lang">
            <span class="btn">FR</span>
        </label>
    </div>-->
    <div>
        <ul class="custom-nav">
        {{ range where .Site.Pages "Section" "" }}
            {{ if eq .Kind "page" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
        </ul>
    <div><br style="clear:both;">
</div>