<!-- Navigation -->
<header class="nav">
    <div class="nav__holder nav--sticky">
        <div class="container relative">
        <div class="flex-parent">

            <!-- Side Menu Button -->
            <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
            <span class="nav-icon-toggle__box">
                <span class="nav-icon-toggle__inner"></span>
            </span>
            </button> 

            <!-- Logo -->
            <a href="/index.html" class="logo">
            <img class="logo__img" src="/img/cfe-logo.png" srcset="/img/cfe-logo.png 1x, /img/cfe-logo@2x.png 2x" alt="{{ .Site.Title }}">
            </a>

            <!-- Nav-wrap -->
            <nav class="flex-child nav__wrap d-none d-lg-block">              
            <ul class="nav__menu">
                <li>
                    <a href="/index.html">Home</a>
                </li>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $parentNavURL := .URL }}
                <li{{ if .HasChildren }} class="nav__dropdown"{{ end }}>
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .HasChildren }}
                <ul class="nav__dropdown-menu">
                    {{ range first 10 .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ if gt .Children 10 }}
                    <li><a href="{{ $parentNavURL }}">More...</a></li>
                    {{ end }}
                </ul>
                {{ end }}
                                </li>
                                {{ end }}

            </ul> <!-- end menu -->
            </nav> <!-- end nav-wrap -->

            <!-- Nav Right -->
            <div class="nav__right">

            <!-- Search -->
            <div class="nav__right-item nav__search">
                <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                <i class="ui-search nav__search-trigger-icon"></i>
                </a>
                <div class="nav__search-box" id="nav__search-box">
                <form class="nav__search-form">
                    <input type="text" placeholder="Search an article" class="nav__search-input">
                    <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                    <i class="ui-search nav__search-icon"></i>
                    </button>
                </form>
                </div>                
            </div>             

            </div> <!-- end nav right -->            
        
        </div> <!-- end flex-parent -->
        </div> <!-- end container -->

    </div>
      </header> <!-- end navigation -->