{{ if ne .Name "Subscribe" }}
<!-- Newsletter Wide -->
<div class="newsletter-wide">
  <div class="widget widget_mc4wp_form_widget">
  <div class="newsletter-wide__container">
    <div class="newsletter-wide__text-holder">
    <p class="newsletter-wide__text">
      <i class="ui-email newsletter__icon"></i>
      Subscribe for upcoming events
    </p>
    </div>
    <div class="newsletter-wide__form">
    <form id="activecampaign" class="mc4wp-form" onsubmit="return subscribeForm(this,document.getElementById('subscribe_message'));">
      <div class="mc4wp-form-fields">
      <div class="form-group">
        <input type="email" name="email" placeholder="Your email" required="true" aria-required="true">
      </div>
      <div class="form-group">
        <input type="submit" name="subscribe" class="btn btn-lg btn-color" value="Subscribe">
      </div>
      </div>
      <div id="subscribe_message" style="color:red;"></div>
    </form>
    </div> 
  </div>         
  </div>
</div> <!-- end newsletter wide -->
{{ end }}