<div class="mt-24 bg-gray-100">
  <div class="container px-6 py-16 mx-auto">
    <h2 class="mb-8 text-4xl font-medium text-center">More <strong class="highlight-text highlight-text-java"><span>Awesome</span></strong> Sessions</h2>
    <div class="carousel">
      <div class="carousel-list">
        <div class="carousel-item carousel-item-thin">
          {{/*
            TODO: Sessions go here.
            Include X amount using partial/session-card.html
            Each item should be in .carousel-item.carouse-item-thin
          */}}
        </div>

        <div class="carousel-item carousel-item-thin">
          <a
            href="#"
            class="flex items-center justify-center w-full px-4 py-8 text-2xl font-medium rounded-sm bg-sand card"><span class="text-center highlight-text-t-dots">Check out all <span class="text-4xl font-bold text-blue">Num</span>&nbsp;sessions</a>
        </div>
      </div>
      {{ partial "carousel-buttons.html" . }}
    </div>
  </div>
</div>
