<div class="shedule">
    {{ range $index, $element := where .Data.Pages.ByDate "Section" "events" }}
        {{ if ge .Date.Unix now.Unix }}
    <div class="item{{ if eq $index 0 }} active{{ end }}">
        <a href="#" class="opener"><strong>{{ .Date.Format "2"}}</strong> {{ .Date.Format "Jan"}}</a>
        <div class="slide">
            <span class="meta">{{.Params.Starttime}} <span class="sep"></span> {{.Params.Endtime}}</span>
            <strong class="title">{{.Title}}</strong>
            <span class="place">{{.Params.Location}}</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="{{.Permalink}}">
                            <div class="date">
                                <span>{{.Params.Starttime}}</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>{{.Params.Endtime}}</span>
                            </div>
                            {{.Title}}
                            <p>{{ if eq .Params.Cost "0"}}Cost: FREE{{else}}{{.Params.Cost}}{{end}}</p>
                            <p>{{ .Summary }}</p>
                        </a>
                    </li>
                </ul>
                <a href="{{ .Permalink }}" class="botton_cont_item">LEARN MORE</a>
            </div>
        </div>
    </div>
        {{ end }}
    {{ end }}
    <!--<div class="item">
        <a href="#" class="opener"><strong>11</strong> May</a>
        <div class="slide">
            <span class="meta">12.05 - 13:00 <span class="sep"></span> 14.05 - 15:00</span>
            <strong class="title">RockBand 2016 Second Europe Tour</strong>
            <span class="place">Florence</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>12.05</span>
                                -
                                <span>13:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>14.05</span>
                                -
                                <span>15:00</span>
                            </div>
                            Envato Meetup Berlin 2016
                            <p>Berlin</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>13.05</span>
                                -
                                <span>17:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>15.05</span>
                                -
                                <span>23:30</span>
                            </div>
                            FiveFest 2016
                            <p>Russia</p>
                        </a>
                    </li>
                </ul>
                <a href="#" class="botton_cont_item">MORE EVENTS IN MAY 12</a>
            </div>
        </div>
    </div>
    <div class="item active">
        <a href="#" class="opener"><strong>12</strong> May</a>
        <div class="slide">
            <span class="meta">12.05 - 13:00 <span class="sep"></span> 14.05 - 15:00</span>
            <strong class="title">RockBand 2016 Second Europe Tour</strong>
            <span class="place">Florence</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>12.05</span>
                                -
                                <span>13:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>14.05</span>
                                -
                                <span>15:00</span>
                            </div>
                            Envato Meetup Berlin 2016
                            <p>Berlin</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>13.05</span>
                                -
                                <span>17:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>15.05</span>
                                -
                                <span>23:30</span>
                            </div>
                            FiveFest 2016
                            <p>Russia</p>
                        </a>
                    </li>
                </ul>
                <a href="#" class="botton_cont_item">MORE EVENTS IN MAY 12</a>
            </div>
        </div>
    </div>
    <div class="item">
        <a href="#" class="opener"><strong>13</strong> May</a>
        <div class="slide">
            <span class="meta">12.05 - 13:00 <span class="sep"></span> 14.05 - 15:00</span>
            <strong class="title">RockBand 2016 Second Europe Tour</strong>
            <span class="place">Florence</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>12.05</span>
                                -
                                <span>13:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>14.05</span>
                                -
                                <span>15:00</span>
                            </div>
                            Envato Meetup Berlin 2016
                            <p>Berlin</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>13.05</span>
                                -
                                <span>17:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>15.05</span>
                                -
                                <span>23:30</span>
                            </div>
                            FiveFest 2016
                            <p>Russia</p>
                        </a>
                    </li>
                </ul>
                <a href="#" class="botton_cont_item">MORE EVENTS IN MAY 12</a>
            </div>
        </div>
    </div>
    <div class="item">
        <a href="#" class="opener"><strong>14</strong> May</a>
        <div class="slide">
            <span class="meta">12.05 - 13:00 <span class="sep"></span> 14.05 - 15:00</span>
            <strong class="title">RockBand 2016 Second Europe Tour</strong>
            <span class="place">Florence</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>12.05</span>
                                -
                                <span>13:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>14.05</span>
                                -
                                <span>15:00</span>
                            </div>
                            Envato Meetup Berlin 2016
                            <p>Berlin</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="date">
                                <span>13.05</span>
                                -
                                <span>17:00</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>15.05</span>
                                -
                                <span>23:30</span>
                            </div>
                            FiveFest 2016
                            <p>Russia</p>
                        </a>
                    </li>
                </ul>
                <a href="#" class="botton_cont_item">MORE EVENTS IN MAY 12</a>
            </div>
        </div>
    </div> -->
</div>