<div class="shedule">
    {{ range $index, $element := where .Data.Pages.ByDate "Section" "events" }}
        {{ if ge .Date.Unix now.Unix }}
    <div class="item{{ if eq $index 0 }} active{{ end }}">
        <a href="#" class="opener"><strong>{{ .Date.Format "2"}}</strong> {{ .Date.Format "Jan"}}</a>
        <div class="slide">
            <span class="meta">{{.Params.Starttime}} <span class="sep"></span> {{.Params.Endtime}}</span>
            <a href="{{.Permalink}}"><strong class="title">{{.Title}}</strong></a>
            <span class="place">{{.Params.Location}}</span>
        </div>
        <div class="wrap_cont">
            <div class="wrap_cont_item">
                <ul>
                    <li>
                        <a href="{{.Permalink}}">
                            <div class="date">
                                <span>{{.Params.Starttime}}</span>
                                &nbsp;&nbsp;&#8212;&nbsp;&nbsp;
                                <span>{{.Params.Endtime}}</span>
                            </div>
                            {{.Title}}
                            <p>{{ if eq .Params.Cost "0"}}Cost: FREE{{else}}{{.Params.Cost}}{{end}}</p>
                            <p>{{ .Params.Short_desc }}</p>
                        </a>
                    </li>
                </ul>
                <a href="{{ .Permalink }}" class="botton_cont_item">LEARN MORE</a>
            </div>
        </div>
    </div>
        {{ end }}
    {{ end }}
</div>