<!-- jQuery Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/easing.min.js"></script>
<script src="/js/owl-carousel.min.js"></script>
<script src="/js/flickity.pkgd.min.js"></script>
<script src="/js/twitterFetcher_min.js"></script>
<script src="/js/jquery.newsTicker.min.js"></script>  
<script src="/js/modernizr.min.js"></script>
<script src="/js/scripts.js"></script>
<!-- lunr for search -->
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/js/search.js"></script>