  <!-- jQuery Scripts -->
  <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/easing.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/owl-carousel.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/flickity.pkgd.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/twitterFetcher_min.js"></script>
  <script src="{{ .Site.BaseURL }}js/jquery.newsTicker.min.js"></script>  
  <script src="{{ .Site.BaseURL }}js/modernizr.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/scripts.js"></script>