<article class="event-card">
  <img
    src="/img/banners/medium/{{ .Params.Homepage_banner }}"
      loading="lazy"
    alt=""
    aria-hidden="true">

  <div class="p-6">
    <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

    <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

    <footer class="mt-6">
      <ul class="flex justify-between">
        <li class="flex items-center text-sm">
          <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
            <use xlink:href="icons.svg#sm-calendar"></use>
          </svg>
          <time class="font-semibold text-gray-800">Apr 9, 2020</time>
        </li>

        <li class="flex items-center font-medium leading-tight">
          <img
            src="https://picsum.photos/80"
            alt=""
            class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

          <span class="ml-2 text-sm">Person Name</span>
        </li>
      </ul>
    </footer>
  </div>
</article>
