<div
  class="flex items-center font-medium leading-tight avatar-list">
  {{ if ne .Params.sessions nil }}
    {{ range $session := .Params.sessions }}
      {{ with site.GetPage (print "/sessions/" $session) }}
        {{ $.Scratch.Set "speakers" .Params.speakers }}
      {{ end }}

      {{ $speakers := $.Scratch.Get "speakers" }}
      {{ range $speaker := $speakers }}
        {{ with site.GetPage (print "/speakers/" $speaker) }}
          <img
            src="/img/speakers/{{ .Params.speaker_image }}"
            alt="Avatar for {{ .Title }}"
            class="inline-block w-12 h-12 border-2 border-white rounded-full"
            width="140"
            height="140"
            title="{{ .Title }}">
        {{ end }}
      {{ end }}
    {{ end }}

    <span class="max-w-xs ml-2">
    {{ range $session := .Params.sessions }}
      {{ with site.GetPage (print "/sessions/" $session) }}
        {{ $.Scratch.Set "speakers" .Params.speakers }}
      {{ end }}

      {{ $speakers := $.Scratch.Get "speakers" }}
      {{ range $index, $speaker := $speakers }}
        {{ with site.GetPage (print "/speakers/" $speaker) }}
          {{ .Title }}
          <span class="delimiter">&amp;</span>
        {{ end }}
      {{ end }}
    {{ end }}
    </span>
  {{ end }}
</div>
