<section>
  <div class="relative flex items-center mb-8">
    <a href="{{ .RelPermalink }}" class="mr-4">
      <img
        class="max-w-full rounded-full"
        src="/img/speakers/{{ .Params.speaker_image }}"
        alt="{{ .Title }}"
        width="140"
        height="140">
    </a>

    <div>
      <a href="{{ .RelPermalink }}">
        <h2 class="text-3xl font-semibold">{{ .Title }}</h2>
        <span class="text-lg font-medium text-java">{{ .Params.Job_title }}</span>
      </a>

      <nav class="mt-1 space-x-4">
        {{ if .Params.twitter }}
          <a
            href="https://twitter.com/{{ .Params.twitter }}"
            class="inline-block p-2 -ml-2 text-blue anim hover:text-twitter"
            target="_blank">
            <svg class="w-6 h-6 fill-current" aria-hidden="true">
              <use xlink:href="/img/social.svg#twitter"></use>
            </svg>
          </a>
        {{ end }}
        {{ if .Params.github }}
          <a
            href="https://github.com/{{ .Params.github }}"
            class="inline-block p-2 -ml-2 text-blue anim hover:text-github"
            target="_blank">
            <svg class="w-6 h-6 fill-current" aria-hidden="true">
              <use xlink:href="/img/social.svg#github"></use>
            </svg>
          </a>
        {{ end }}
        {{ if .Params.website }}
          <a
            href="{{ .Params.website }}"
            class="inline-block p-2 -ml-2 text-blue anim hover:text-jelly"
            target="_blank">
            <svg class="w-6 h-6 fill-current" aria-hidden="true">
              <use xlink:href="/img/social.svg#link"></use>
            </svg>
          </a>
        {{ end }}
      </nav>
    </div>
  </div>

  <div class="content">
    {{ .Content }}
  </div>
</section>
