<aside class="sticky top-[114px] mt-12">
  <h3 class="mb-4 text-xs font-bold text-gray-500 uppercase">Sponsored by</h3>
  <ul class="flex flex-wrap items-center gap-8 lg:flex-col lg:items-start">
    <li>
      <a
        href="https://netlify.com/"
        rel="noreferrer noopener">
        <img
          src="/img/sponsors/netlify.png"
          loading="lazy"
          alt="Netlify"
          class="h-10" />
      </a>
    </li>
    <li>
      <a
        href="https://stackbit.com"
        rel="noreferrer noopener">
        <img
          src="/img/sponsors/Stackbit.png"
          loading="lazy"
          alt="Stackbit"
          class="h-[28px]" />
      </a>
    </li>
    <li>
      <a
        href="https://contentful.com/"
        rel="noreferrer noopener">
        <img
          src="/img/sponsors/Contentful.png"
          loading="lazy"
          alt="Contentful"
          class="h-10" />
      </a>
    </li>
  </ul>
</aside>
