<aside class="sticky top-[114px] mt-12">
{{ if eq .Page.Section "talkshows"}}
{{ if and (isset .Page.Params "show") (eq .Page.Params.show "CodeBreak") }}
  <h3 class="mb-4 text-xs font-bold text-gray-500 uppercase">Sponsored by</h3>
  <ul class="flex flex-wrap items-center gap-8 lg:flex-col lg:items-start">
    <li>
      <a
        href="https://jam.dev/?utm_source=podcast&utm_medium=paid&utm_campaign=codebr_2024_07"
      >
        <img
          src="/img/sponsors/jam-logo.png"
          loading="lazy"
          alt="Jam.dev"
          class="h-16"
        />
      </a>
    </li>
  </ul>
{{ end }}
{{ else }}
  <h3 class="mb-4 text-xs font-bold text-gray-500 uppercase">Sponsored by</h3>
  <ul class="flex flex-wrap items-center gap-8 lg:flex-col lg:items-start">
    <li>
      <a href="https://netlify.com/">
        <img
          src="/img/sponsors/netlify.png"
          loading="lazy"
          alt="Netlify"
          class="h-10"
        />
      </a>
    </li>
  </ul>
{{ end }}
{{ partial "newsletter-aside" . }}
</aside>
