{{- $src := resources.Get (print "img/banners/" .Params.homepage_banner) -}}
{{- $src := $src.Resize "608x" }}
<article class="event-card">
  <img
    src="{{ $src.RelPermalink }}"
    loading="lazy"
    alt="Banner for {{ .Title }}"
    aria-hidden="true">

  <div class="event-card-body">
    <div class="mb-1"><span class="px-2 text-xs font-medium text-white rounded bg-jelly">TALK SHOW</span></div>
    <h1 class="event-card-title">
      <a href="{{ .RelPermalink }}" class="click-target">{{ .Title }}</a>
    </h1>

    <div class="mb-auto event-card-content">{{ if isset .Params "short_desc" }}{{ .Params.short_desc  }}{{ else }}{{ .Content }}{{ end }}</div>

    <footer class="mt-6">
      <ul class="flex justify-between">
        <li class="flex items-center text-sm">
          <svg
            class="inline-block w-6 h-6 mr-1 fill-current text-sky"
            aria-hidden="true">
              <use xlink:href="/img/icons.svg#sm-calendar"></use>
          </svg>
          <time class="font-semibold text-gray-800">{{ .Date.Format "Jan 2, 2006" }}</time>
        </li>
        {{ with site.GetPage (print "/speakers/" .Params.host ) }}
        <li class="flex items-center leading-tight">
          <span class="mr-3 text-sm">Hosted by:</span>
          <img
            src="/img/speakers/{{.Params.speaker_image}}"
            alt="{{.Params.speaker}}"
            class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

          <span class="ml-2 text-sm font-medium">{{.Title}}</span>
          {{ end }}
        </li>
      </ul>
    </footer>
  </div>
</article>
