{{ define "main" }}
<main>
  <div class="mb-20">
    <header class="container px-6 pt-12 pb-10 mx-auto">
      <h1 class="mb-2 text-5xl font-bold">Discover Sessions</h1>
      <p class="max-w-3xl text-xl">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </header>
  </div>

  <div class="container px-6 pb-12 mx-auto">
    <div class="grid justify-center row-gap-24 col-gap-8 md:grid-cols-2 xl:grid-cols-3">
      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-circles">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-carlo " aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-user-group"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Career &amp; Culture</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>

      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center text-white rounded highlight-pattern-dotgrid">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-salmon " aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-desktop-computer"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">DevOps</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>

      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-waves">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-flower" aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-gray-700 fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-code"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">JavaScript</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>

      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-tictac">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-jelly" aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-globe"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Web Development</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>

      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-signal">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-sky" aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-cog"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Software Engineering</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>

      <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
        <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-rain">
          <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-lightBlue" aria-hidden="true">
            <svg class="inline-block w-12 h-12 text-gray-700 fill-current" aria-hidden="true">
              <use xlink:href="icons.svg#sm-sparkles"></use>
            </svg>
          </span>
          <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Cool Stuff</a></h2>
        </div>
        <p class="p-6">
          In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
        </p>
      </section>
    </div>
  </div>

  <div class="py-16 bg-gray-100">
    <div class="container px-6 mx-auto ">
      <h2 class="mb-8 text-4xl text-center"><strong>Not sure where to start?</strong><br/>Check out popular past sessions</h2>
      <div class="carousel">
        <div class="carousel-list">
          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>

          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>

          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>

          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>
          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>
          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>
          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>
          <div class="carousel-item carousel-item-thin">
            <article class="event-card">
              <img
                src="https://picsum.photos/1024/512"
                loading="lazy"
                alt="">

              <div class="px-6 pt-6 pb-2">
                <h1 class="event-card-title"><a href="session.html" class="click-target">Getting Started with Serverless</a></h1>

                <p>Upkar Lidder of IBM Developer will introduce the concept of serverless, practical use cases and the key concepts that you need to know to get started.</p>

                <footer class="mt-6">
                  <ul class="flex flex-wrap justify-between">
                    <li class="flex items-center mb-4 text-sm">
                      <svg class="inline-block w-6 h-6 mr-1 fill-current text-sky" aria-hidden="true">
                        <use xlink:href="icons.svg#sm-calendar"></use>
                      </svg>
                      <time class="font-semibold text-gray-800">Apr 9, 2020</time>
                    </li>

                    <li class="flex items-center mb-4 font-medium leading-tight">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 border-2 border-white rounded-full">
                      <img
                        src="https://picsum.photos/80"
                        alt=""
                        class="inline-block w-10 h-10 -ml-2 border-2 border-white rounded-full">

                      <span class="ml-2 text-sm">Person Name <br/>&amp; Person Name</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </div>
        </div>
        <button class="glider-prev" aria-hidden="true" aria-label="Next" title="Next">
          <svg class="inline-block w-8 h-8 mr-1 fill-current text-sky">
            <use xlink:href="icons.svg#sm-arrow-left"></use>
          </svg>
        </button>
        <button class="glider-next" aria-hidden="true" aria-label="Previous" title="Previous">
          <svg class="inline-block w-8 h-8 mr-1 fill-current text-sky">
            <use xlink:href="icons.svg#sm-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</main>
{{ end }}
