<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="style-videos">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <!-- Bg Overlay -->
  <div class="content-overlay"></div>


{{ partial "left-nav.html" . }}

  <main class="main oh" id="main">

    {{ partial "top-bar.html" . }}        

    {{ partial "navigation.html" . }}  

    <!-- Featured Posts Grid -->      
    <section class="featured-posts-grid featured-posts-grid--1">
      <div class="container">
        <div class="row">

          <div class="col-lg-6">
            {{ range first 1 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.featured" true) }}
              {{ partial "homepage-large-thumb.html" . }}
            {{ end }}
            <div class="row">
              {{ range first 2 (after 1 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.featured" true)) }}
                {{ partial "homepage-small-thumb.html" . }}
              {{ end }}
            </div> <!-- end row -->

          </div> <!-- end col -->

          <div class="col-lg-6">
            {{ range first 1 (after 3 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.featured" true)) }}
              {{ partial "homepage-large-thumb.html" . }}
            {{ end }}

            <div class="row">
              {{ range first 2 (after 4 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.featured" true)) }}
                {{ partial "homepage-small-thumb.html" . }}
              {{ end }}
            </div> <!-- end row -->

          </div>          

        </div>
      </div>
    </section> <!-- end featured posts grid -->

    <!-- Newest Videos -->
    <section class="bg-light pt-32 pb-32">
      <div class="container">
        <div class="title-wrap">
          <h2 class="section-title">newest videos</h2>
        </div>
        <div class="video-playlist">

          <div class="video-playlist__content thumb-container">
            <div class="embed-responsive embed-responsive-16by9">
              {{ range first 1 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.embed_url" "!=" nil)}}
              <iframe src="{{ .Params.embed_url }}" class="video-playlist__content-video">
              {{ end }}
              </iframe>
            </div>
          </div>

          <div class="video-playlist__list">
            {{ range first 6 (where (where .Site.Pages.ByDate.Reverse "Section" "events") ".Params.embed_url" "!=" nil)}}
            <a href="{{ .Params.embed_url }}" class="video-playlist__list-item video-playlist__list-item--active">
              <div class="video-playlist__list-item-thumb">
                <img data-src="{{ .Site.BaseURL }}/img/banners/{{ .Params.Homepage_banner }}" src="{{ .Site.BaseURL }}/img/banners/{{ .Params.Homepage_banner }}" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">{{ .Title }}</h4>
              </div>
            </a>
            {{ end }}
          </div>

        </div>
      </div>      
    </section> <!-- end newest videos -->

      {{ partial "footer.html" .}}
    </main> <!-- end main-wrapper -->

{{ partial "scripts.html" .}}

</body>
</html>