<!DOCTYPE html>
<!-- <html>
{{ partial "head.html" . }}

<body>
	<div id="wrapper">
		<header id="header">
			<a href="index.html" class="logo">
				<img src="images/cfe-logo.png" alt="{{ .Site.Title }}">
			</a>
			{{ partial "navigation.html" . }}
			{{ partial "schedule.html" . }}
		</header>
		{{ partial "carousel.html" . }}
		{{ partial "calendar.html" . }}

		{{ partial "social.html" . }}
		
		{{ partial "footer.html" . }}
	</div>
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="https://use.fontawesome.com/3272ab6501.js"></script>
</body>

</html>-->
<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="style-videos">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <!-- Bg Overlay -->
  <div class="content-overlay"></div>


{{ partial "left-nav.html" . }}

  <main class="main oh" id="main">

    {{ partial "top-bar.html" . }}        

    {{ partial "navigation.html" . }}  

    <!-- Featured Posts Grid -->      
    <section class="featured-posts-grid featured-posts-grid--1">
      <div class="container">
        <div class="row">

          <div class="col-lg-6">

            <article class="entry thumb thumb--size-4">
              <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_13.jpg');">
                <div class="bottom-gradient"></div>
                <div class="thumb-text-holder thumb-text-holder--3">
                  <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--violet">World</a>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                  <h2 class="thumb-entry-title">
                    <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                  </h2>
                </div>
                <a href="single-post-videos.html" class="thumb-url"></a>
              </div>
            </article>

            <div class="row">
              <div class="col-lg-6">
                <article class="entry thumb thumb--size-1">
                  <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_15.jpg');">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder thumb-text-holder--4">
                      <h2 class="thumb-entry-title">
                        <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                      </h2>
                    </div>
                    <a href="single-post-videos.html" class="thumb-url"></a>
                  </div>
                </article>
              </div>
              <div class="col-lg-6">
                <article class="entry thumb thumb--size-1">
                  <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_16.jpg');">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder thumb-text-holder--4">
                      <h2 class="thumb-entry-title">
                        <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                      </h2>
                    </div>
                    <a href="single-post-videos.html" class="thumb-url"></a>
                  </div>
                </article>
              </div>
            </div> <!-- end row -->

          </div> <!-- end col -->

          <div class="col-lg-6">

            <article class="entry thumb thumb--size-4">
              <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_14.jpg');">
                <div class="bottom-gradient"></div>
                <div class="thumb-text-holder thumb-text-holder--3">
                  <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--cyan">Technology</a>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                  <h2 class="thumb-entry-title">
                    <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                  </h2>
                </div>
                <a href="single-post-videos.html" class="thumb-url"></a>
              </div>
            </article>

            <div class="row">
              <div class="col-lg-6">
                <article class="entry thumb thumb--size-1">
                  <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_17.jpg');">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder thumb-text-holder--4">
                      <h2 class="thumb-entry-title">
                        <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                      </h2>
                    </div>
                    <a href="single-post-videos.html" class="thumb-url"></a>
                  </div>
                </article>
              </div>
              <div class="col-lg-6">
                <article class="entry thumb thumb--size-1">
                  <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_18.jpg');">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder thumb-text-holder--4">
                      <h2 class="thumb-entry-title">
                        <a href="single-post-videos.html">People Who Take Cold Showers Take Fewer Sick Days, Study Finds</a>
                      </h2>
                    </div>
                    <a href="single-post-videos.html" class="thumb-url"></a>
                  </div>
                </article>
              </div>
            </div> <!-- end row -->

          </div>          

        </div>
      </div>
    </section> <!-- end featured posts grid -->

    <!-- Newest Videos -->
    <section class="bg-light pt-32 pb-32">
      <div class="container">
        <div class="title-wrap">
          <h2 class="section-title">newest videos</h2>
        </div>
        <div class="video-playlist">

          <div class="video-playlist__content thumb-container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/SVnhBjRMlKA?feature=oembed" class="video-playlist__content-video">
              </iframe>
            </div>
          </div>

          <div class="video-playlist__list">
            <a href="https://www.youtube.com/embed/SVnhBjRMlKA?feature=oembed&autoplay=1" class="video-playlist__list-item video-playlist__list-item--active">
              <div class="video-playlist__list-item-thumb">
                <img data-src="https://i.ytimg.com/vi/SVnhBjRMlKA/default.jpg" src="https://i.ytimg.com/vi/SVnhBjRMlKA/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">Top 5 New Tech Gadgets You Must Have In 2017</h4>
              </div>
            </a>
            <a href="https://www.youtube.com/embed/x68XnWszi2A?feature=oembed&autoplay=1" class="video-playlist__list-item">
              <div class="video-playlist__list-item-thumb">
                <img data-src="https://i.ytimg.com/vi/x68XnWszi2A/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">10 Amazing Gadgets You Can Buy Now On Amazon</h4>
              </div>
            </a>
            <a href="https://www.youtube.com/embed/TXFrCy47ue8?feature=oembed&autoplay=1" class="video-playlist__list-item">
              <div class="video-playlist__list-item-thumb">
                <img data-src="https://i.ytimg.com/vi/TXFrCy47ue8/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">Top 5 Best Drones with HD Camera (Cheap and Affordable Version)</h4>
              </div>
            </a>
            <a href="https://www.youtube.com/embed/rdFXddVsUuQ?feature=oembed&autoplay=1" class="video-playlist__list-item">
              <div class="video-playlist__list-item-thumb">
                <img data-src="https://i.ytimg.com/vi/rdFXddVsUuQ/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">iPhone X Review – Pushing Me to Android</h4>
              </div>
            </a>
            <a href="https://www.youtube.com/embed/MY0UBGX2FtA?feature=oembed&autoplay=1" class="video-playlist__list-item">
              <div class="video-playlist__list-item-thumb">
                <img data-src="https://i.ytimg.com/vi/MY0UBGX2FtA/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
              </div>
              <div class="video-playlist__list-item-description">
                <h4 class="video-playlist__list-item-title">iPhone X Review – Pushing Me to Android</h4>
              </div>
            </a>
          </div>

        </div>
      </div>      
    </section> <!-- end newest videos -->
    
    <!-- Ad Banner 728 -->
    <div class="text-center pt-48 pb-24">
      <a href="#">
        <img src="img/content/placeholder_728.jpg" alt="">
      </a>
    </div>

    <div class="main-container container pt-24" id="main-container">

      <!-- Content -->
      <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content">
          
          <!-- Popular Videos -->
          <section class="section">
            <div class="title-wrap title-wrap--line">
              <h3 class="section-title">Popular Videos</h3>
            </div>

            <!-- Large Post -->
            <article class="entry thumb thumb--size-5 thumb--mb-20">
              <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/thumb/thumb_post_5.jpg');">
                <div class="bottom-gradient"></div>
                <div class="thumb-text-holder thumb-text-holder--3">
                  <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--violet">World</a>
                  <h2 class="thumb-entry-title">
                    <a href="single-post-videos.html">6 Personal Fears Holding You Back From Your Dream Career</a>
                  </h2>
                  <div class="entry__meta-holder">
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">DeoThemes</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                    <ul class="entry__meta">
                      <li class="entry__meta-views">
                        <i class="ui-eye"></i>
                        <span>1356</span>
                      </li>
                      <li class="entry__meta-comments">
                        <a href="#">
                          <i class="ui-chat-empty"></i>13
                        </a>
                      </li>
                    </ul>
                  </div>                  
                </div>
                <a href="single-post-videos.html" class="thumb-url"></a>
              </div>
            </article>

            <div class="row row-20">
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_27.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_28.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_29.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_30.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_31.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <article class="entry">
                  <div class="entry__img-holder">
                    <a href="single-post-videos.html">
                      <div class="thumb-container thumb-65">
                        <img data-src="img/content/grid/grid_post_32.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        <div class="play-btn"></div>
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">                      
                      <h2 class="entry__title entry__title--sm">
                        <a href="single-post-videos.html">How to Bounce Back After a Business Venture Fails</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
            </div>

            <!-- Load More -->
            <button class="btn btn-lg btn-stroke btn-wide load-more">
              <span>Load More <i class="ui-arrow-down"></i></span>
            </button>        
           
          </section> <!-- end popular videos -->

        </div> <!-- end posts -->

        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">

          <!-- Widget Recommended (Rating) -->
          <aside class="widget widget-rating-posts">
            <h4 class="widget-title">Recommended</h4>
            <article class="entry">
              <div class="entry__img-holder">
                <a href="single-post-videos.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/content/review/review_post_1.jpg" src="img/empty.png" class="entry__img lazyload" alt="">
                  </div>
                </a>
              </div>

              <div class="entry__body">
                <div class="entry__header">
                  
                  <h2 class="entry__title">
                    <a href="single-post-videos.html">UN’s WFP Building Up Blockchain-Based Payments System</a>
                  </h2>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                  <ul class="entry__meta">
                    <li class="entry__meta-rating">
                      <i class="ui-star"></i><!--
                      --><i class="ui-star"></i><!--
                      --><i class="ui-star"></i><!--
                      --><i class="ui-star"></i><!--
                      --><i class="ui-star-empty"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <ul class="post-list-small post-list-small--2">
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-70">
                      <a href="single-post-videos.html">
                        <img data-src="img/content/post_small/post_small_41.jpg" src="img/empty.png" alt="" class=" lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post-videos.html">Deep Rock Galactic Is A Cooperative Blast</a>
                    </h3>
                  </div>                  
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-70">
                      <a href="single-post-videos.html">
                        <img data-src="img/content/post_small/post_small_42.jpg" src="img/empty.png" alt="" class=" lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post-videos.html">Deep Rock Galactic Is A Cooperative Blast</a>
                    </h3>
                  </div>                  
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-70">
                      <a href="single-post-videos.html">
                        <img data-src="img/content/post_small/post_small_43.jpg" src="img/empty.png" alt="" class=" lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post-videos.html">Amnesty says global superpowers are 'callously undermining the rights of millions'</a>
                    </h3>
                  </div>                  
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-70">
                      <a href="single-post-videos.html">
                        <img data-src="img/content/post_small/post_small_44.jpg" src="img/empty.png" alt="" class=" lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post-videos.html">Extreme Heat Waves Will Change How We Live. We’re Not Ready</a>
                    </h3>
                  </div>                  
                </article>
              </li>
            </ul>
          </aside> <!-- end widget recommended (rating) -->
          
          <!-- Widget Ad 300 -->
          <aside class="widget widget_media_image">
            <a href="#">
              <img src="img/content/placeholder_336.jpg" alt="">
            </a>
          </aside> <!-- end widget ad 300 -->

        </aside> <!-- end sidebar -->
  
      </div> <!-- end content -->


      <!-- Carousel posts -->
      <section class="section mb-0">
        <div class="title-wrap title-wrap--line title-wrap--pr">
          <h3 class="section-title">featured videos</h3>
        </div>

        <!-- Slider -->
        <div id="owl-posts" class="owl-carousel owl-theme owl-carousel--arrows-outside">
          <article class="entry thumb thumb--size-1">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_9.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder">   
                <h2 class="thumb-entry-title">
                  <a href="single-post-videos.html">6 Personal Fears Holding You Back From Your Dream Career</a>
                </h2>
              </div>
              <a href="single-post-videos.html" class="thumb-url"></a>
            </div>
          </article>
          <article class="entry thumb thumb--size-1">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_10.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder">   
                <h2 class="thumb-entry-title">
                  <a href="single-post-videos.html">Want to be More Successful? Go to Bed</a>
                </h2>
              </div>
              <a href="single-post-videos.html" class="thumb-url"></a>
            </div>
          </article>
          <article class="entry thumb thumb--size-1">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_11.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder">   
                <h2 class="thumb-entry-title">
                  <a href="single-post-videos.html">Your Brand Plan Is More Important Than Your Business</a>
                </h2>
              </div>
              <a href="single-post-videos.html" class="thumb-url"></a>
            </div>
          </article>
          <article class="entry thumb thumb--size-1">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_12.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder">   
                <h2 class="thumb-entry-title">
                  <a href="single-post-videos.html">6 Tell-Tale Signs You're Underpaid</a>
                </h2>
              </div>
              <a href="single-post-videos.html" class="thumb-url"></a>
            </div>
          </article>
          <article class="entry thumb thumb--size-1">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_10.jpg');">              
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder">   
                <h2 class="thumb-entry-title">
                  <a href="single-post-videos.html">Want to be More Successful? Go to Bed</a>
                </h2>
              </div>
              <a href="single-post-videos.html" class="thumb-url"></a>
            </div>
          </article>
        </div> <!-- end slider -->

      </section> <!-- end carousel posts -->

    </div> <!-- end main container -->

    <!-- Footer -->
    <footer class="footer footer--grey">
      <div class="container">
        <div class="footer__widgets">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <aside class="widget widget-logo">
                <a href="index.html">
                  <img src="img/logo_videos.png" srcset="img/logo_videos.png 1x, img/logo_videos@2x.png 2x" class="logo__img" alt="">
                </a>
                <p class="mt-24">We bring you the most advanced themes that perfect for news, magazine, personal blog, etc. Check our landing page for details.</p>
                <p class="mb-32">
                  Contact us: <a href="https://deothemes.com">deothemes.com</a>
                </p>
                <div class="socials socials--large socials--white-base socials--rounded mb-24">
                  <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                  <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                  <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                  <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                  <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                </div>
              </aside>
            </div>

            <div class="col-lg-4 col-md-6">
              <aside class="widget widget-twitter">
                <h4 class="widget-title">Latest Tweets</h4>
                <div class="tweets-container">
                  <div id="tweets"></div>                  
                </div>
              </aside>
            </div>

            <div class="col-lg-4 col-md-6">
              <aside class="widget widget_categories">
                <h4 class="widget-title">Categories</h4>
                <ul>
                  <li><a href="categories.html">World <span class="categories-count">5</span></a></li>
                  <li><a href="categories.html">Lifestyle <span class="categories-count">7</span></a></li>
                  <li><a href="categories.html">Business <span class="categories-count">5</span></a></li>
                  <li><a href="categories.html">Fashion <span class="categories-count">8</span></a></li>
                  <li><a href="categories.html">Investment <span class="categories-count">10</span></a></li>
                  <li><a href="categories.html">Technology <span class="categories-count">6</span></a></li>
                </ul>
              </aside>
            </div>

          </div>
        </div>    
      </div> <!-- end container -->

      <div class="footer__bottom footer__bottom--white">
        <div class="container text-center">
          <ul class="footer__nav-menu footer__nav-menu--1">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">News</a></li>
            <li><a href="categories.html">Advertise</a></li>
            <li><a href="shortcodes.html">Support</a></li>
            <li><a href="shortcodes.html">Contact</a></li>
          </ul>
          <p class="copyright">
            © 2018 Deus | Made by <a href="https://deothemes.com">DeoThemes</a>
          </p>   
        </div>            
      </div> <!-- end footer bottom -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

  </main> <!-- end main-wrapper -->

  
  <!-- jQuery Scripts -->
  <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/easing.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/owl-carousel.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/flickity.pkgd.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/twitterFetcher_min.js"></script>
  <script src="{{ .Site.BaseURL }}js/jquery.newsTicker.min.js"></script>  
  <script src="{{ .Site.BaseURL }}js/modernizr.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/scripts.js"></script>

</body>
</html>
