{{ define "main" }}
<main class="mt-20">
  <header class="container px-6 mx-auto mb-8">
    <h1 class="max-w-4xl mb-4 text-5xl font-semibold leading-tight tracking-tight">{{.Title}}</h1>

    <ul class="flex flex-wrap gap-6 md:items-end">
      <li class="flex items-center flex-grow">
        <div class="flex items-center font-medium leading-tight avatar-list">
          {{ if ne .Params.sessions nil }}
            {{ range $session := .Params.sessions }}
              {{ with site.GetPage (print "/sessions/" $session) }}
                {{ $.Scratch.Set "speakers" .Params.speakers }}
              {{ end }}

              {{ $speakers := $.Scratch.Get "speakers" }}
              {{ range $speaker := $speakers }}
                {{ with site.GetPage (print "/speakers/" $speaker) }}
                  <img
                    src="/img/speakers/{{ .Params.speaker_image }}"
                    alt="Avatar for {{ .Title }}"
                    class="inline-block w-12 h-12 border-2 border-white rounded-full"
                    width="140"
                    height="140"
                    title="{{ .Title }}">
                {{ end }}
              {{ end }}
            {{ end }}

            <span class="max-w-xs ml-2">
            {{ range $session := .Params.sessions }}
              {{ with site.GetPage (print "/sessions/" $session) }}
                {{ $.Scratch.Set "speakers" .Params.speakers }}
              {{ end }}
              {{ $speakers := $.Scratch.Get "speakers" }}
              {{ range $speaker := $speakers }}
                {{ with site.GetPage (print "/speakers/" $speaker) }}
                  {{ .Title }}
                  <span class="delimiter">&amp;</span>
                {{ end }}
              {{ end }}
            {{ end }}
            </span>
          {{ end }}
        </div>
      </li>

      <li class="flex items-center text-sm">
        <svg class="inline-block w-8 h-8 mr-1 fill-current text-sky" aria-hidden="true">
          <use xlink:href="/img/icons.svg#sm-calendar"></use>
        </svg>
        <time class="font-semibold text-gray-800">{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>


      {{/*
        {{ partial "sponsor-header.html" . }}
      */}}
    </ul>
  </header>

  <div class="container mx-auto">
    <div class="block mx-auto bg-black">
      {{/* if this is for a future event or live event, just show the embed */}}
      {{ if ne .Params.embed_url nil }}
          <iframe width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0" allowtransparency="true" src="{{.Params.embed_url}}?navlinks=false&embed=true" style="border: 1px solid #EEE;border-radius:3px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" allow="microphone; camera;"></iframe>
      {{ end }}
    </div>
  </div>

  <div class="container max-w-6xl px-6 pb-8 mx-auto mt-20">
    <div class="flex flex-col items-stretch gap-6 lg:gap-12 lg:flex-row">
      <div class="lg:max-w-max">
        {{ partial "social-share.html" .}}
      </div>

      <div class="flex-1">
        <div class="content">
          {{ .Content }}

          {{ range $session := .Params.sessions }}
          {{ with site.GetPage (print "/sessions/" $session) }}
              <h2>{{ .Title }}</h2>

              {{.Content}}
            {{ end }}
          {{ end }}
        </div>

        {{ if ne .Params.sessions nil }}
          <div class="mt-12 space-y-12">
            {{ range $session := .Params.sessions }}

              {{ with site.GetPage (print "/sessions/" $session) }}
                {{ $.Scratch.Set "speakers" .Params.speakers }}
              {{ end }}

              {{ $speakers := $.Scratch.Get "speakers" }}
              {{ range $speaker := $speakers }}
                {{ with site.GetPage (print "/speakers/" $speaker) }}
                  <div class="p-6 border rounded shadow-lg">
                    {{ partial "speaker-card.html" .}}
                  </div>
                {{ end }}
              {{end}}
            {{ end }}
          </div>
        {{ end }}
      </div>

      <div class="max-w-[300px]">

        <div class="mb-4">
          {{ if ne .Params.sessions nil }}
            {{ $session := index .Params.sessions 0 }}
            {{ with site.GetPage (print "/sessions/" $session) }}
              {{ $category := index .Params.Categories 0 }}
              {{ with site.GetPage (print "/categories/" $category) }}
                {{ partial "category-button.html" .}}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>


        {{ partial "tag-sidebar-list.html" .}}

        {{ partial "sponsor-aside.html" .}}
      </div>
    </div>
  </div>

  {{ if ne .Params.sessions nil }}
    {{ range $session := .Params.sessions | first 1 }}
      {{ with site.GetPage (print "/sessions/" $session) }}
        {{ partial "related-sessions.html" .}}
      {{ end }}
    {{ end }}
  {{ end }}
</main>

{{ end }}

{{ define "scripts" }}
{{ end }}
