{{ define "main" }}
<main class="my-20">
  <header class="container px-6 mx-auto">
    <h1 class="max-w-4xl mb-4 text-5xl font-semibold leading-tight tracking-tight">{{.Title}}</h1>

    <ul class="flex flex-wrap lg:mb-8">
      <li class="flex items-center flex-grow mb-4 mr-6 lg:mb-0">
        <div class="flex items-center font-medium leading-tight avatar-list">
          {{ if ne .Params.sessions nil }}
            {{ range $session := .Params.sessions }}
              {{ with site.GetPage (print "/sessions/" $session) }}
                {{ $.Scratch.Set "speakers" .Params.speakers }}
              {{ end }}

              {{ $speakers := $.Scratch.Get "speakers" }}
              {{ range $speaker := $speakers }}
                {{ with site.GetPage (print "/speakers/" $speaker) }}
                  <img
                    src="/img/speakers/{{ .Params.speaker_image }}"
                    alt="Avatar for {{ .Title }}"
                    class="inline-block w-12 h-12 border-2 border-white rounded-full"
                    width="140"
                    height="140"
                    title="{{ .Title }}">
                {{ end }}
              {{ end }}
            {{ end }}

            <span class="max-w-xs ml-2">
            {{ range $session := .Params.sessions }}
              {{ $speakers := $.Scratch.Get "speakers" }}
              {{ range $index, $speaker := $speakers }}
                {{ with site.GetPage (print "/speakers/" $speaker) }}
                  {{ .Title }}
                  <span class="delimiter">&amp;</span>
                {{ end }}
              {{ end }}
            {{ end }}
            </span>
          {{ end }}
        </div>
      </li>

      <li class="flex items-center mb-4 mr-6 text-sm lg:mb-0">
        <svg class="inline-block w-8 h-8 mr-1 fill-current text-sky" aria-hidden="true">
          <use xlink:href="/img/icons.svg#sm-calendar"></use>
        </svg>
        <time class="font-semibold text-gray-800">{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ if ne .Params.sessions nil }}
        {{ $session := index .Params.sessions 0 }}
        {{ with site.GetPage (print "/sessions/" $session) }}
          {{ $category := index .Params.Categories 0 }}
          {{ with site.GetPage (print "/categories/" $category) }}
            <li class="flex items-center mb-4 space-x-2 lg:mb-0">
                <a
                  href="{{ "categories" | absURL }}/{{ $category | urlize }}"
                  class="p-2 text-xs font-bold text-gray-800 uppercase bg-lightBlue hover:text-white hover:bg-jelly anim">{{.Title}}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </header>

  <div class="container mx-auto">
    <div class="block mx-auto bg-black embed-responsive">
      {{ if ne .Params.embed_url nil }}
        <iframe
          src="{{ .Params.embed_url }}"
          class="absolute z-0 w-full h-full"></iframe>
      {{ else if ne .Params.banner nil }}
        <div class="flex items-center justify-center w-full h-full">
          <a
            href="#"
            target="_blank"
            class="flex items-center justify-center w-full h-full anim bg-jelly hover:bg-sky">
              <span class="flex px-8 py-4 font-bold text-white border border-b-2 border-current rounded">
                  {{ partial "crowdcast-button-content" .}}
              </span>
          </a>
        </div>
        <img
          src="/img/banners/{{ .Params.banner }}"
          alt="Banner for {{ .Title }}"
          aria-hidden="true">
      {{ end }}
    </div>
  </div>

  {{/* Hide if authenticated */}}
  <section
    class="container relative z-10 p-10 mx-auto mb-20 -mt-32 text-center text-white shadow-xl bg-blue highlight-pattern-waves">
    <h2 class="mb-6 text-3xl text-center"><strong>Get<span class="highlight-text highlight-text-sunset"><span>FULL access</span></span></strong> to &gt;80 hours of recorded sessions</h2>

    <a href="/join/" class="text-2xl button-ghost">Join Now</a>

    <p class="mt-6">Have an account? <a href="login.html" class="font-medium link hover:text-lightBlue">Log in</a></p>
  </section>


  {{/* If authenticated, show w/external URL */}}
  <!--
  <a href="#"
    class="container flex justify-center px-8 py-3 mx-auto -mt-1 text-center text-white bg-blue hover:bg-jelly anim">
    {{ partial "crowdcast-button-content" .}}
  </a>
  -->

  <div class="container max-w-3xl px-6 pb-8 mx-auto mt-20">
    <div class="mb-8">
      {{ partial "social-share.html" .}}
    </div>

    <div class="mb-20 content">
      {{ .Content }}

      {{ range $session := .Params.sessions }}
        {{ with site.GetPage (print "/sessions/" $session) }}
          <h2>{{ .Title }}</h2>

          {{.Content}}
        {{ end }}
      {{ end }}
    </div>

    {{ if ne .Params.sponsor nil }}
      <h2
        class="mb-4 text-xl">Sponsored by <strong>{{.Params.sponsor.name}}</strong>
      </h2>
      <a href="{{.Params.sponsor.URL}}"><img src="/img/sponsors/{{.Params.sponsor.image}}" alt="{{.Params.sponsor.name}}"></a>
    {{ end }}

    {{ if ne .Params.sessions nil }}
      <div class="mt-24 space-y-20">
        {{ range $session := .Params.sessions }}

          {{ with site.GetPage (print "/sessions/" $session) }}
            {{ $.Scratch.Set "speakers" .Params.speakers }}
          {{ end }}

          {{ $speakers := $.Scratch.Get "speakers" }}
          {{ range $speaker := $speakers }}
            {{ with site.GetPage (print "/speakers/" $speaker) }}
              {{ partial "speaker-card.html" .}}
            {{ end }}
          {{end}}
        {{ end }}
      </div>
    {{ end }}
  </div>

  {{ partial "related-sessions.html" .}}
</main>

{{/* Code to use? */}}

{{/*
{{ if and (ne .Params.embed_url nil) (eq .Params.cost 0) }}
{{ $eventcode := path.Base .Params.embed_url }}
  <form id="registerForm" class="mc4wp-form" onsubmit="return registerForm(this,document.getElementById('register_message'));">
    <input type="hidden" name="eventcode" value="{{$eventcode}}">
    <div class="mc4wp-form-fields">
    <div class="form-group">
      <input type="email" name="email" placeholder="Your email" required="true" aria-required="true">
    </div>
    <div class="form-group">
      <input type="submit" name="register" class="btn btn-lg" value="Register Now">
    </div>
    </div>
    <div id="register_message" style="color:red;"></div>
  </form>
{{ end }}

<div class="entry__tags">
  <span class="entry__tags-label">Categories:</span>
  {{ range $category := .Params.Categories }}<a href="{{ "categories" | absURL }}/{{ $category | urlize }}" rel="tag">{{ $category }}</a>{{ end }}
</div>

{{ $ageDays := div (sub now.Unix .Date.Unix) 86400 }}
{{ $ageMonths := div (sub now.Unix .Date.Unix) 2592000 }}
{{ $ageYears := math.Round (div $ageMonths 12.0) }}
<li class="entry__meta-date">
{{ if lt $ageDays 0 }}
  {{ $ageDays := mul $ageDays -1 }}
  In {{ $ageDays }} {{ cond (eq $ageDays 1) "day" "days"}}
{{ else if ge $ageYears 1 }}
  About {{ $ageYears }} {{ cond (eq $ageYears 1) "year" "years" }} ago
{{ else if eq $ageDays 0 }}
  Today
{{ else if lt $ageDays 31 }}
  {{ $ageDays }} {{ cond (eq $ageDays 1) "day" "days"}} ago
{{ else }}
  {{ $ageMonths }} {{ cond (eq $ageMonths 1) "month" "months" }} ago
{{ end }}
*/}}

{{ end }}

{{ define "scripts" }}
{{ end }}
