{{ define "main" }}
<main class="my-20">
  <header class="container px-6 mx-auto mb-8">
    <h1 class="max-w-4xl mb-4 text-5xl font-semibold leading-tight tracking-tight">{{.Title}}</h1>

    <ul class="flex flex-wrap gap-6 md:items-end">
      <li class="flex items-center flex-grow">
        <span class="max-w-xs ml-2">
        {{ .Params.days }} days - ${{ .Params.cost}}
        </span>
      </li>

      <li class="items-center hidden text-sm lg:flex">
        <svg class="inline-block w-8 h-8 mr-1 fill-current text-sky" aria-hidden="true">
          <use xlink:href="/img/icons.svg#sm-calendar"></use>
        </svg>
        <time class="font-semibold text-gray-800">{{ .Date.Format "Jan 2" }}</time>{{ if ne (.Date | time.Format ":date_short") (.Params.end_date | time.Format ":date_short") }} - <time class="font-semibold text-gray-800">{{ dateFormat "Jan 2, 2006" .Params.end_date }}</time>{{ end }}
      </li>
    </ul>
  </header>

  <div class="container mx-auto">
    <div class="block mx-auto bg-black">
      {{ if ne .Params.embed_url nil }}
        <div id="crowdcast-embed" data-embed-url="{{ .Params.embed_url }}"></div>
      {{ end }}
      {{ if ne .Params.homepage_banner nil }}
        {{- $src := resources.Get (print "img/banners/" .Params.homepage_banner) -}}
        <div class="flex justify-center w-full h-full" id="banner-image">
          <img src="{{$src.RelPermalink}}" width="100%" />
        </div>
      {{ end }}
    </div>
  </div>

  {{/* If authenticated, show w/external URL */}}
  <!--
  <a href="#"
    class="container flex justify-center px-8 py-3 mx-auto -mt-1 text-center text-white bg-blue hover:bg-jelly anim">
    {{ partial "crowdcast-button-content" .}}
  </a>
  -->

  <div class="container max-w-6xl px-6 pb-8 mx-auto mt-20">
    <div class="flex flex-col items-stretch gap-6 lg:gap-12 lg:flex-row">
      <div class="lg:max-w-max">
        {{ partial "social-share.html" .}}
      </div>

      <div class="flex-1">
        <div class="content">
          {{ .Content }}
        </div>
      </div>

      <div class="lg:min-w-[300px] empty:hidden">
        {{/*
        {{ partial "sponsor-aside.html" .}}
        */}}
      </div>
    </div>
</main>

{{ end }}

{{ define "scripts" }}
{{ end }}
