{{ define "main" }}
<main>
  <div class="mb-20">
    <header class="container px-6 pt-12 mx-auto">
      <h1 class="mb-2 text-5xl font-bold">Browse by Tag</h1>
    </header>
  </div>

  <div class="container mx-auto mt-16 px-6 pb-12">
    <ul class="flex flex-wrap gap-6">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ $encodedTag := urlize $name }}
        {{ $tagURL := printf "/tags/%s" $encodedTag }}
        {{ $tagPage := $.Site.GetPage $tagURL }}
        {{ $numItems := len $tagPage.Pages }}

          <li>
            <a href="{{ $tagPage.RelPermalink }}"
              title="All pages with tag {{$name}}"
              class="tag">{{$name}}
              <span class="item-count">({{ $numItems }})</span>
          </a>
          </li>

      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
{{ define "scripts" }}
{{ end }}
