{{ define "main" }}
<main class="mb-20">
  <div>
    <header class="container max-w-4xl px-6 pt-10 mx-auto">
      <div class="flex items-center mb-8">
        <div class="mr-6">
          <img
            class="max-w-full rounded-full"
            src="/img/speakers/{{ .Params.speaker_image }}"
            alt="{{ .Title }}"
            width="200"
            height="200">
        </div>

        <div>
          <h1 class="text-4xl font-semibold">{{ .Title }}</h1>
          <span class="text-xl font-medium text-java">{{ .Params.Job_title }}</span>

          <nav class="mt-1 space-x-4">
            {{ if .Params.twitter }}
              <a
                href="https://twitter.com/{{ .Params.twitter }}"
                class="inline-block p-2 -ml-2 text-blue anim hover:text-twitter"
                target="_blank">
                <svg class="w-6 h-6 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#twitter"></use>
                </svg>
              </a>
            {{ end }}
            {{ if .Params.github }}
              <a
                href="https://github.com/{{ .Params.github }}"
                class="inline-block p-2 -ml-2 text-blue anim hover:text-github"
                target="_blank">
                <svg class="w-6 h-6 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#github"></use>
                </svg>
              </a>
            {{ end }}
            {{ if .Params.website }}
              <a
                href="{{ .Params.website }}"
                class="inline-block p-2 -ml-2 text-blue anim hover:text-jelly"
                target="_blank">
                <svg class="w-6 h-6 fill-current" aria-hidden="true">
                  <use xlink:href="/img/social.svg#link"></use>
                </svg>
              </a>
            {{ end }}
          </nav>
        </div>
      </div>
    </header>

    <div class="container max-w-4xl px-6 mx-auto mb-12 text-lg content">
      {{ .Content }}
    </div>

    <div class="container max-w-4xl px-6 mx-auto">
      {{ $speakerArr := slice .Page.File.TranslationBaseName }}
      {{ $sessions := where (where .Site.RegularPages "Section" "sessions") ".Params.speakers" "intersect" $speakerArr }}
      {{ if ne (len $sessions) 0 }}
        <h2 class="mb-4 text-3xl font-medium">Sessions</h2>

        <div class="grid grid-cols-1 gap-6 pb-8 md:grid-cols-2 lg:grid-cols-2 lg:gap-8">
          {{ range $session := $sessions }}
          {{ with  $session}}
            {{ partial "session-card.html" .}}
          {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
</main>
{{ end }}
