<div class="container px-6 pb-12 mx-auto">
  <div class="grid justify-center gap-8 gap-y-24 md:grid-cols-2 xl:grid-cols-3">

    {{ range $key, $value := .Site.Taxonomies.categories}}
      {{ with site.GetPage (print "/categories/" $key) }}
    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-{{ .Params.pattern }}">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-{{ .Params.color }}" aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#{{ .Params.icon }}"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="{{ .RelPermalink }}" class="click-target">{{ .Title }}</a></h2>
      </div>
      <div class="p-6">
        {{ .Params.tagline }}
      </div>
    </section>
      {{ end }}
    {{ end }}
  </div>
</div>
