<div class="container px-6 pb-12 mx-auto">
  <div class="grid justify-center row-gap-24 col-gap-8 md:grid-cols-2 xl:grid-cols-3">
    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-circles">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-carlo " aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-user-group"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Career &amp; Culture</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>

    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center text-white rounded highlight-pattern-dotgrid">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-salmon " aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-desktop-computer"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">DevOps</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>

    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-waves">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-flower" aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-gray-700 fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-code"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">JavaScript</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>

    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-tictac">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-jelly" aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-globe"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Web Development</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>

    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-signal">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-sky" aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-white fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-cog"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Software Engineering</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>

    <section class="relative max-w-md border border-gray-300 rounded hover:shadow-xl anim">
      <div class="flex flex-col items-center justify-center p-6 pt-6 pb-4 text-center rounded highlight-pattern-rain">
        <span class="flex items-center justify-center flex-shrink-0 w-24 h-24 mr-4 -mt-20 rounded-full bg-lightBlue" aria-hidden="true">
          <svg class="inline-block w-12 h-12 text-gray-700 fill-current" aria-hidden="true">
            <use xlink:href="/img/icons.svg#sm-sparkles"></use>
          </svg>
        </span>
        <h2 class="mt-4 mb-2 text-3xl font-bold leading-tight text-blue"><a href="category.html" class="click-target">Cool Stuff</a></h2>
      </div>
      <p class="p-6">
        In in ultricies lorem, id tincidunt felis. Suspendisse potenti. In eleifend massa vitae quam malesuada feugiat non at libero. Nullam sed justo non lacus ullamcorper malesuada et id sem.
      </p>
    </section>
  </div>
</div>
