{{ $.Scratch.Set "lastDate" "" }}

<div id="schedule">
{{ range $session := $.Page.Params.sessions }}
  {{ with site.GetPage (print "/sessions/" $session) }}
    {{ if ne ($.Scratch.Get "lastDate") (.Date.Format "Monday January, 2") }}
  <h2>{{ .Date.Format "Monday January, 2" }}</h2>
      {{ if ne ($.Scratch.Get "lastDate") ""}}
  </ol>
      {{ end }}
  <ol>
    {{ end }}
    <li>
      <div class="time"><time datetime="{{.Date}}" data-date-format="time-only">{{ .Date.Format "15:04" }}</time><time datetime="{{.Params.end_date}}" data-date-format="time-only">{{ dateFormat "15:04" .Params.end_date }}</time></div>
      <div class="details">
        <h3><a href="{{.RelPermalink}}">{{.Title }}</a></h3>
        {{ range $speaker := .Params.speakers }}
          {{ with site.GetPage (print "/speakers/" $speaker) }}
        <div class="speaker">{{.Title}}</div>
          {{ end }}
        {{ end }}
      </div>
    </li>
    {{ $.Scratch.Set "lastDate" (.Date.Format "Monday January, 2") }}
    {{ end }}
{{ end }}
  </ol>
</div>
