{{- $speakers := $.Page.Params.speakers -}}
<div class="container px-6 mx-auto">
  <div class="grid gap-8 lg:grid-cols-2">
    {{- range $speaker := $speakers -}}
    {{ with site.GetPage (print "/speakers/" $speaker) }}
    <article>
      <div class="flex mb-8">
        <a href="{{ .RelPermalink }}" class="mr-4">
          <img
            class="max-w-full rounded-full"
            src="/img/speakers/{{ .Params.speaker_image }}"
            alt="{{ .Title }}"
            width="140"
            height="140"
          />
        </a>

        <div style="width:75%">
          <a href="{{ .RelPermalink }}" style="text-decoration:none;">
            <h2 class="text-3xl font-semibold leading-tight" style="font-size: 1.875rem;font-weight: 600;line-height:1.25;">{{ .Title }}</h2>
            <span class="text-lg font-medium leading-tight text-java"
              >{{ .Params.Job_title }}</span
            >
          </a>

          <nav class="mt-1 space-x-4">
            {{ if .Params.bluesky }}
              <a
                href="https://bsky.app/profile/{{ .Params.bluesky }}"
                class="inline-block p-2 -ml-2 text-blue anim hover:text-twitter fill-current"
                target="_blank">
                <svg width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -30 610.398 610.398" xml:space="preserve">
                  <path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" />
                </svg>
              </a>
            {{ end }}
            {{ if .Params.mastodon }}
              <a
                href="{{ .Params.mastodon }}"
                class="inline-block p-2 -ml-2 text-blue anim hover:text-jelly"
                target="_blank">
                <svg class="w-6 h-6 fill-current" aria-hidden="true">
                  <use xlink:href="/img/mastodon.svg#mastodon"></use>
                </svg>
              </a>
            {{ end }}
            {{ if .Params.github }}
            <a
              href="https://github.com/{{ .Params.github }}"
              class="inline-block p-2 -ml-2 text-blue anim hover:text-github"
              target="_blank"
            >
              <svg class="w-6 h-6 fill-current" aria-hidden="true">
                <use xlink:href="/img/social.svg#github"></use>
              </svg>
            </a>
            {{ end }}
            {{ if .Params.website }}
            <a
              href="{{ .Params.website }}"
              class="inline-block p-2 -ml-2 text-blue anim hover:text-jelly"
              target="_blank"
            >
              <svg class="w-6 h-6 fill-current" aria-hidden="true">
                <use xlink:href="/img/social.svg#link"></use>
              </svg>
            </a>
            {{ end }}
            {{ if .Params.twitter }}
            <a
              href="https://twitter.com/{{ .Params.twitter }}"
              class="inline-block p-2 -ml-2 text-blue anim hover:text-twitter"
              target="_blank"
            >
              <svg class="w-6 h-6 fill-current" aria-hidden="true">
                <use xlink:href="/img/social.svg#twitter"></use>
              </svg>
            </a>
            {{ end }}
          </nav>
        </div>
      </div>
    </article>
    {{- end -}}
    {{- end -}}
  </div>
</div>
