{{ $pastissues := where (where .Site.RegularPages.ByDate.Reverse "Section" "jamstacked") ".Params.issue" "ne" nil }}

<main class="mt-8 mb-20 lg:mt-12">
  <div class="max-w-5xl px-6 py-10 mx-auto">
    <header class="mb-10 text-center md:mb-12">
      <h1 class="mt-10 text-xl font-medium md:text-2xl">
        <img
          src="/img/jamstacked/jamlogo.png"
          alt="Jamstacked"
          class="max-w-md inline"
        />
        <strong class="highlight-text highlight-text-red"
          ><span
            >An email update on the evolving web development ecosystem.</span
          ></strong
        >
      </h1>
    </header>

    <div
      class="flex flex-col items-center justify-center md:items-start md:flex-row"
    >
      <div
        class="flex-shrink-0 w-full max-w-md px-8 py-12 mb-12 border border-gray-300 rounded shadow-xl flex-grow-1 md:w-auto md:mb-0 md:order-2"
        id="registerForm"
      >
      <p>Jamstacked is no longer accepting subscriptions. We'll continue to host the <a href="/jamstacked/archive">archive</a> for reference.</p>
        <div class="mb-8 mt-8 text-gray-600">
          <p>
            Check out
            <a href="/jamstacked/{{ range $pastissues.Limit 1 }}{{.Params.issue}}{{end}}" class="link"
              >the final issue</a
            > here.
          </p>
        </div>
        <div class="text-gray-600">
          <h2 class="mb-3 text-lg font-bold text-sky">View our archives</h2>
          <p>
            <a href="/jamstacked/archive" class="link"
              >{{ $pastissues.Len }} issues</a
            >
            —
            <a href="/jamstacked/rss.xml" class="link">RSS feed</a>
          </p>
        </div>
      </div>
      <section class="pt-10 md:w-1/2 md:mr-8 lg:mr-20 md:order-1">
        <h2 class="mb-6 text-2xl font-medium">What is Jamstacked?</h2>

        <p class="block mb-1 text-sm text-lg">Jamstacked was published from March 2020 until July 2024. It focused on the Jamstack philosophy and ecosystem for web development. Jamstack was an evolving term originally created by Matt Biilmann, founder and CEO of Netlify, in 2015. It initially focused on static web site development enhanced with dynamic JavaScript, but eventually encompassed the entire ecosystem of front-end web frameworks including tools like Next.js and Astro.</p>
        <p class="block mb-1 text-sm text-lg">Over 4+ years, Jamstacked monitored these changes, new frameworks, new tooling, new platforms and more. You are invited to review our <a href="/jamstacked/archive" class="link">archive</a> if you would like to get a sense of what went on in the world of full-stack web development during those years.</p>
      </section>
    </div>
  </div>
</main>
