{{ $pastissues := where (where .Site.RegularPages.ByDate.Reverse "Section" "jamstacked") ".Params.issue" "ne" nil }}

<main class="mt-8 mb-20 lg:mt-12">
  <div class="max-w-5xl px-6 py-10 mx-auto">
    <header class="mb-10 text-center md:mb-12">
      <h1 class="mt-10 text-xl font-medium md:text-2xl">
        <img
          src="/img/jamstacked/jamlogo.png"
          alt="Jamstacked"
          class="max-w-md inline"
        />
        <strong class="highlight-text highlight-text-red"
          ><span
            >An email update on the evolving web development ecosystem.</span
          ></strong
        >
      </h1>
    </header>

    <div
      class="flex flex-col items-center justify-center md:items-start md:flex-row"
    >
      <form
        class="flex-shrink-0 w-full max-w-md px-8 py-12 mb-12 border border-gray-300 rounded shadow-xl flex-grow-1 md:w-auto md:mb-0 md:order-2"
        id="registerForm"
        method="post"
      >
        <input type="hidden" name="listName" value="jamstacked" />
        <div class="error-message" id="errorMessage"></div>
        <div class="mb-8">
          <label for="join-email" class="label">Email Address</label>
          <input type="email" id="join-email" class="w-full field" required />
        </div>

        <div class="flex justify-end mb-10">
          <button class="order-2 button">Sign Up</button>
        </div>
        <div class="mb-8 text-gray-600">
          <p>
            Check out
            <a href="/jamstacked/{{ range $pastissues.Limit 1 }}{{.Params.issue}}{{end}}" class="link"
              >our latest issue</a
            >
            for a sample.
          </p>
        </div>
        <div class="text-gray-600">
          <h2 class="mb-3 text-lg font-bold text-sky">View our archives</h2>
          <p>
            <a href="/jamstacked/archive" class="link"
              >{{ $pastissues.Len }} issues</a
            >
            —
            <a href="/jamstacked/rss.xml" class="link">RSS feed</a>
          </p>
        </div>
      </form>
      <section class="pt-10 md:w-1/2 md:mr-8 lg:mr-20 md:order-1">
        <h2 class="mb-6 text-2xl font-medium">Why sign up?</h2>

        <ul>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightRed"
            >
              <svg class="inline-block w-8 h-8 fill-current" aria-hidden="true">
                <use xlink:href="/img/icons.svg#md-trending-up"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg">Latest Releases</span>
              <span class="block text-sm text-gray-600"
                >Keep up with the latest releases of tools, frameworks and
                services..</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightRed"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-newspaper"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg">Important News</span>
              <span class="block text-sm text-gray-600"
                >Know what's happening in the world of web development, cloud
                infrastructure and serverless.</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightRed"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-sparkles"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg"
                >Videos and Resources</span
              >
              <span class="block text-sm text-gray-600"
                >Get curated links to the latest videos and repos that can make
                you a better developer.</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightRed"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-ticket"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg">Upcoming Events</span>
              <span class="block text-sm text-gray-600"
                >Be the first to know about upcoming events and conferences
                around web development, serverless and more.</span
              >
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
