<main class="mt-8 mb-20 lg:mt-12">
  <div class="max-w-5xl px-6 py-10 mx-auto">
    <header class="mb-10 text-center md:mb-12">
      <h1 class="mt-10 text-4xl font-medium md:text-5xl">
        Join Our Mailing List
        <strong class="highlight-text highlight-text-blue"
          ><span>Never Miss An Event</span></strong
        >
      </h1>
    </header>

    <div
      class="flex flex-col items-center justify-center md:items-start md:flex-row"
    >
      <form
        class="flex-shrink-0 w-full max-w-md px-8 py-12 mb-12 border border-gray-300 rounded shadow-xl flex-grow-1 md:w-auto md:mb-0 md:order-2"
        id="registerForm"
        method="post"
      >
      <p class="mb-2 text-sm">
        Receive updates about new events and recordings.
      </p>
        <div class="error-message" id="errorMessage"></div>
        <div class="mb-8">
          <label for="join-name" class="label">Your Name</label>
          <input
            type="text"
            name="join-name"
            id="join-name"
            class="w-full field"
            required
          />
        </div>

        <div class="mb-8">
          <label for="join-email" class="label">Email Address</label>
          <input type="email" id="join-email" class="w-full field" required />
        </div>

        <div class="flex justify-end mb-10">
          <button class="order-2 button">Sign Up</button>
        </div>

      </form>
      <section class="pt-10 md:w-1/2 md:mr-8 lg:mr-20 md:order-1">
        <h2 class="mb-6 text-2xl font-medium">Why sign up?</h2>

        <ul>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightBlue"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-currency-dollar"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg">Live events</span>
              <span class="block text-sm text-gray-600"
                >Get updates about our upcoming live meetups so that you can join the conversation live.</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightBlue"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-microphone"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg">Latest recordings</span>
              <span class="block text-sm text-gray-600"
                >We're adding to our archive every week. Keep up with the latest videos we've posted.</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightBlue"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-sparkles"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg"
                >Special events</span
              >
              <span class="block text-sm text-gray-600"
                >Be the first to know about special events like TheJam.dev and Moar Serverless.</span
              >
            </div>
          </li>
          <li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightBlue"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-desktop-computer"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg"
                >Stay up on the latest tech</span
              >
              <span class="block text-sm text-gray-600"
                >Stay fresh by learning new things from industry experts.</span
              >
            </div>
          </li>
          <!--<li class="flex mb-10 text-gray-800">
            <div
              class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-lightBlue"
            >
              <svg
                class="inline-block w-8 h-8 fill-current text-blue"
                aria-hidden="true"
              >
                <use xlink:href="/img/icons.svg#sm-collection"></use>
              </svg>
            </div>
            <div class="ml-4">
              <span class="block mb-1 text-sm text-lg"
                >Access wide-ranging content</span
              >
              <span class="block text-sm text-gray-600"
                >CSS to Kubernetes; CFE.dev covers the full-stack.</span
              >
            </div>
          </li>-->
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
