<div class="container px-6 pb-12 mx-auto">
  <div class="flex flex-col gap-8 lg:flex-row lg:flex-wrap">
    <div class="md:w-1/3">
      <h2 class="mb-8 text-4xl font-bold">Popular Tags</h2>
      <a href="/tags/" class="button">All tags</a>
    </div>

    <ul class="flex flex-wrap flex-1 gap-3">
      {{ $count := 0 }}

      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ if lt $count 24 }}
          {{ $encodedTag := urlize $name }}
          {{ $tagURL := printf "/tags/%s" $encodedTag }}
          {{ $tagPage := $.Site.GetPage $tagURL }}
          {{ $numItems := len $tagPage.Pages }}

            <li>
              <a href="{{ $tagPage.RelPermalink }}"
                title="All pages with tag {{$name}}"
                class="tag">{{$name}}
                <span class="item-count">({{ $numItems }})</span>
            </a>
            </li>

          {{ $count = add $count 1 }}
        {{ else }}
          {{ break }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
