<div class="py-16 bg-gray-100">
  <div class="container px-6 mx-auto ">
    <h2 class="mb-8 text-4xl text-center"><strong>Not sure where to start?</strong><br/>Check out popular past sessions</h2>
    <div class="carousel">
      <div class="carousel-list">

        {{/* TODO: Inject carousel items */}}
        <div class="carousel-item carousel-item-thin">
          {{ $recorded := where (where (where (where .Site.RegularPages ".Date" "le" now) "Section" "sessions") ".Params.recordings" "ne" nil) ".Params.featured" "eq" true }}
          {{ range first 4 (shuffle $recorded) }}
            {{ partial "session-card" . }}
          {{ end }}
        </div>

      </div>
      {{ partial "carousel-buttons.html" . }}
    </div>
  </div>
</div>
