<main class="mt-8 mb-20 lg:mt-12">
  <div class="max-w-5xl px-6 py-10 mx-auto">
    <header class="mb-10 text-center md:mb-12">
      <h1 class="mt-6 mb-6 text-4xl font-medium leading-tight md:text-5xl">Log In &amp;<br/><strong class="text-bold">Get Watching</strong></h1>
    </header>

    <form
      id="recoverForm"
      class="max-w-md px-8 pt-8 pb-12 mx-auto" method="post">
      <div class="error-message" id="errorMessage"></div>
      <div class="mb-8">
        <label for="recover-email" class="label">Email Address</label>
        <input
          type="email"
          id="recover-email"
          class="w-full field"
          required>
      </div>

      <div class="flex justify-end mb-10">
        <button class="order-2 button">Send Recovery Email</button>
        <button class="order-1 inline-block px-8 py-2 font-bold text-red link" onclick="window.history.back()">Cancel</button>
      </div>

      <p class="text-sm text-right">Need an account? <a href="/join/" class="font-bold link">Join CFE.dev instead</a>.<br>
      Have your account info? <a href="/login/" class="font-bold link">Log in here</a>.</p>
    </form>
  </div>
</main>
