<style>
.entry__meta li:after {
    content: '';
}
.post-list-small__img-holder {
    margin-top: 5px;
    margin-bottom: 5px;
}
</style>

<div class="container">
    <div class="row">
{{ range .Site.Data.speakers.speakers }}
<article class="col-sm-4">
    <div class="post-list-small__img-holder">
        <div class="thumb-container thumb-100">
            <a href="single-post.html">
            <img data-src="/img/speakers/{{.photo}}" src="img/empty.png" alt="" class="lazyload">
            </a>
        </div>
    </div>
    <div>
        <h3 class="post-list-small__entry-title">{{.name}}</h3>
        <ul class="entry__meta">
            {{ if .twitter }}
            <li>
                <a class="social social-twitter" href="https://twitter.com/{{.twitter}}" target="_blank" aria-label="twitter" style="background-color: white;">
                <i class="ui-twitter"></i>
                </a>
            </li>
            {{ end }}
            {{ if .github }}
            <li>
                <a class="social social-github" href="https://github.com/{{.github}}" target="_blank" aria-label="github">
                <i class="ui-github"></i>
                </a>
            </li>
            {{ end }}
            {{ if .website }}
            <li>
                <a class="social social-pin" href="{{.website}}" target="_blank" aria-label="link">
                <i class="ui-pin"></i>
                </a>
            </li>
            {{ end }}
    </div>
</article>
{{ end }}
</div>
</div>